<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url(./assets/app/media/img//bg/bg-3.jpg);">
    <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
        <div class="m-login__container">
            <div class="m-login__logo">
                <!-- <a>
                    <img src="./assets/app/media/img//logos/logo-4.jpg">
                </a> -->
                <a class="Logo-custom"><span class="hire">HIRE</span><span class="amigo">AMIGO</span></a>
            </div>
            <div class="m-login__signin">
                <div class="m-login__head">
                    <h3 class="m-login__title">
                        Sign In to your account
                    </h3>
                </div>
                <form (ngSubmit)="loginForm.form.valid && signin()" class="m-login__form m-form" #loginForm="ngForm" name="loginForm">
                    <!-- <ng-template #alertSignin></ng-template> -->
                    <div class="form-group m-form__group">
                        <input class="form-control m-input" type="text" placeholder="User Name" name="username" [(ngModel)]="model.username" #username="ngModel" autocomplete="off" required>
                        <div class="form-control-feedback" *ngIf="username?.errors && (username.touched || loginForm.submitted)">UserName is required
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <input class="form-control m-input" type="password" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
                        <div class="form-control-feedback" *ngIf="password?.errors && (password.touched || loginForm.submitted)">password is required
                        </div>

                    </div>
                    <div class="form-group m-form__group">
                        <input class="form-control m-input m-login__form-input--last" type="text" placeholder="Company Id(only for Company login)" [(ngModel)]="model.companyId" name="companyId" #companyId="ngModel" autocomplete="off">
                    </div>
                    <div class="m-login__form-action">
                        <button type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
							Sign In
						</button>
                    </div>
                </form>
            </div>
            <div class="m-login__signup">
                <div class="m-login__head">
                    <h3 class="m-login__title">
                        Sign Up
                    </h3>
                    <div class="m-login__desc">
                        Enter your details to create your account:
                    </div>
                </div>
                <form (ngSubmit)="registerForm.form.valid && signup()" #registerForm="ngForm" name="registerForm" novalidate class="m-login__form m-form">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="text" placeholder="First Name" name="fname" [(ngModel)]="model.fname" #fname="ngModel" required>
                                        <div class="form-control-feedback" *ngIf="fname?.errors && (fname.touched || registerForm.submitted)">First Name is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="text" placeholder="Last Name" name="lname" [(ngModel)]="model.lname" #lname="ngModel" required>
                                        <div class="form-control-feedback" *ngIf="lname?.errors && (lname.touched || registerForm.submitted)">Last Name is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group m-form__group">
                                        <input type="text" class="form-control m-input" placeholder="User Name" name="userID" [(ngModel)]="model.userID" #userID="ngModel" required>
                                        <div class="form-control-feedback" *ngIf="userID?.errors && (userID.touched || registerForm.submitted)">User Name is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="text" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" autocomplete="off">
                                    </div>
                                    <div class="form-control-feedback" *ngIf="email.errors && (email.valid || email.dirty || email.touched || registerForm.submitted)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="password" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" (change)="confirmPassword.control.updateValueAndValidity()">
                                        <div class="form-control-feedback" *ngIf="password.errors && (password.touched || password.dirty && registerForm.submitted)">
                                            Password is required</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" validateEqual="password">
                                        <span class="form-control-feedback" *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty && confirmPassword.errors?.required && registerForm.submitted)">Password
											is required.</span>
                                        <span class="form-control-feedback" *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required)">Password
											is not match.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group m-form__group">
                                <input class="form-control m-input m-login__form-input--last" type="text" placeholder="Enter Company Id" [(ngModel)]="model.companyId" name="companyId" #companyId="ngModel" autocomplete="off" required>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="form-group m-form__group">
                        <div class="col-lg-4 col-md-9 col-sm-12">
                            <re-captcha class="g-recaptcha" siteKey="6LfDuagUAAAAAGlJeS_wIWzAIr1YOP6EEJgVXsQz">
                            </re-captcha>
                        </div>
                        <script src='https://www.google.com/recaptcha/api.js'></script>
                    </div>
                    <div class="m-login__form-action">
                        <button id="m_login_signup_submit" (click)="signup()" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">
							Sign Up
						</button> &nbsp;&nbsp;
                        <button [disabled]="loading" id="m_login_signup_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">
							Cancel
						</button>
                    </div>
                </form>
            </div>
            <div class="m-login__account">
                <span class="m-login__account-msg">
					<b>Don't have an account yet ? Please contact your company Administrator</b>
				</span> &nbsp;&nbsp;
                <!-- <a href="javascript:;" id="m_login_signup" class="m-link m-link--light m-login__account-link">
					Sign Up
				</a> -->
            </div>
        </div>
    </div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
