<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Manage Question
            </h3>
        </div>
    </div>
</div>


<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head header-co">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="flaticon-car"></i>
                        </span>
                        <h3 class="header-ap">
                            Manage Question
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a data-toggle="modal" data-target="#m_modal_4" (click)="addNewQuestionModal(); formFlag=false;" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-show-hide">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>Add New Question</span>
                                </span>
                            </a>
                            <a data-toggle="modal" data-target="#m_modal_4" (click)="addNewQuestionModal(); formFlag=false;" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-show-hide-mb">
                                <span>
                                    <i class="la la-plus"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-4 offset-md-8">
                        <div class="input-group">
                            <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search by question" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table id="table-bgc" class="table" [mfData]="questions | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="5">
                            <thead>
                                <tr>
                                    <th>
                                        <mfDefaultSorter by="jobID">Job Id</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="question">Question</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="createdDateTime">Create Date Time</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="">Action</mfDefaultSorter>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let question of mf.data">
                                    <td>{{question.jobID}}</td>
                                    <td>{{question.question}}</td>
                                    <td>{{question.createdDateTime | date:'dd-MM-yyyy | h:mm a'}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" data-toggle="m-tooltip" title="Edit Question" style="margin-bottom: 4px" type="button" data-toggle="modal" data-target="#m_modal_4" (click)="openQuestionModal(question); formFlag=true;">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" data-toggle="m-tooltip" title="Delete question" style="margin-bottom: 4px" type="button" (click)="deleteQuestion(question)">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-custom">
            <div class="modal-header header-co">
                <h5 class="header-ap" id="exampleModalLabel">
                    Create Question
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <form class="m-form m-form--fit m-form--label-align-right" #managequestionForm="ngForm" name="managequestionForm" novalidate>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="department">Department:</label>
                                <select name="department" id="department" [(ngModel)]="questionObj.department" placeholder="Department" #department="ngModel" class="form-control m-input">
                                <option [ngValue]="undefined">Select Department</option>
                                <option *ngFor="let dept of departments" [value]="dept">{{dept}}</option>
                            </select>

                            </div>
                            <div class="col-lg-4">
                                <label for="job">Job:</label>
                                <fieldset class="form-group">
                                    <ng-select [(ngModel)]="questionObj.jobID" bindLabel="jobtitle" bindValue="_id" name="jobID" #jobID="ngModel" class="bootstrap" placeholder="Select Job" [items]="jobList" aria-required="true">
                                    </ng-select>
                                </fieldset>
                            </div>
                            <div class="col-lg-4">
                                <label for="domain">
                                Question Domain:
                            </label>
                                <!-- <ng-select [(ngModel)]="questionObj.domain" name="domain" #domain="ngModel" class="bootstrap"
                                                        placeholder="Select Domain" [options]="dom" [allowClear]="true"></ng-select> -->
                                <select class="form-control m-input" [(ngModel)]="questionObj.domain" name="domain" #domain="ngModel" placeholder="Domain" aria-describedby="domain">
                                <option [ngValue]="undefined">Select Domain</option>
                                <option *ngFor="let domain of domains" [value]="domain">{{domain}}</option>
                            </select>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label for="question">Question:</label>
                                <!-- <input type="text" class="form-control m-input" name="question" [(ngModel)]="questionObj.question" #question="ngModel" name="question" placeholder="Question" minlength="255" maxlength="255" required> -->
                                <textarea id="textarea-input" type="text" class="form-control m-input" id="question" aria-describedby="question" placeholder="Question" [(ngModel)]="questionObj.question" #question="ngModel" name="question" minlength="1" maxlength="255" required></textarea>
                                <div class="form-control-feedback" *ngIf="question?.errors && (question.touched || managequestionForm.submitted)">Question is required</div>
                                <div class="form-control-feedback" [hidden]="!question.hasError('minlength')">Question should be 255 character only</div>
                            </div>
                            <div class="col-lg-6">
                                <label for="questionduration">Question Duration:</label>
                                <input type="number" class="form-control m-input" name="questionduration" [(ngModel)]="questionObj.questionduration" #questionduration="ngModel" name="questionduration" placeholder="Question Duration" required>
                                <div class="form-control-feedback" *ngIf="questionduration?.errors && (questionduration.touched || managequestionForm.submitted)">Question duration is required</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-accent" [disabled]="!managequestionForm.form.valid" data-dismiss="modal" *ngIf="formFlag==false" (click)="createQuestion(questionObj)">
                    Save
                </button>
                <button type="button" class="btn btn-accent" *ngIf="formFlag==true" data-dismiss="modal" (click)="updateQuestion()">Update</button>
            </div>
        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
