<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Candidate Management
            </h3>
        </div>
    </div>
</div>


<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head header-co">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="flaticon-users"></i>
                        </span>
                        <h3 class="header-ap">
                            Manage Candidate
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">

                            <a data-toggle="modal" data-target="#m_modal_4" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-show-hide" (click)="addNewCandidateModal();formFlag = false;" *ngIf="userType!=1">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>Create Candidate</span>
                                </span>
                            </a>
                            <a data-toggle="modal" data-target="#m_modal_4" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-show-hide-mb" (click)="addNewCandidateModal();formFlag = false;">
                                <span>
                                    <i class="la la-plus"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-4 offset-md-8">
                        <div class="input-group">
                            <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search by first name" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table id="table-bgc" class="table" [mfData]="candidates | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="5">
                            <thead>
                                <tr>
                                    <th>
                                        <mfDefaultSorter by="fname">Name</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="email">Email</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="phone">Cell Number</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="city">City</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="">Action</mfDefaultSorter>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let candidate of mf.data">
                                    <td>{{candidate.fname}} {{candidate.lname}}</td>
                                    <td>{{candidate.email}}</td>
                                    <td>{{candidate.phone}}</td>
                                    <td>{{candidate.city}}</td>

                                    <td>
                                        <button class="btn btn-primary btn-sm" style="margin-bottom: 4px" data-toggle="m-tooltip" title="Edit Candidate" type="button" data-toggle="modal" data-target="#m_modal_5" (click)="openCandidateModal(candidate); formFlag = true;">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" style="margin-bottom: 4px" data-toggle="m-tooltip" title="Delete Candidate" type="button" (click)="deleteCandidate(candidate)">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header header-co">
                <h5 class="header-ap" id="exampleModalLabel">
                    Candidate Profile
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form m-form--fit m-form--label-align-right" #candidateForm="ngForm" name="candidateForm" novalidate>
                    <div class="m-portlet__body">


                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="fname">First Name:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.fname" name="fname" #fname="ngModel" placeholder="Enter first name" required>
                                <div class="form-control-feedback" *ngIf="fname?.errors && (fname.touched || candidateForm.submitted)">First Name is required</div>
                            </div>
                            <div class="col-lg-4">
                                <label for="lname">Last Name:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.lname" name="lname" #lname="ngModel" placeholder="Enter last name" required>
                                <div class="form-control-feedback" *ngIf="lname?.errors && (lname.touched || candidateForm.submitted)">Last Name is required</div>

                            </div>
                            <div class="col-lg-4">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" [(ngModel)]="candidate.email" name="email" #email="ngModel" placeholder="Enter email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                                <div class="form-control-feedback" *ngIf="email.errors && (email.valid || email.dirty || email.touched || candidateForm.submitted)">
                                    Email is required and format should be
                                    <i>john@doe.com</i>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label for="birthDate">Birth Date:</label>
                                <input type="date" class="form-control" [(ngModel)]="candidate.birthDate" name="birthDate" #birthDate="ngModel" placeholder=" Enter BirthDate">
                                <div class="form-control-feedback" *ngIf="birthDate.valid && (candidateForm.submitted)"> BirthDate is required</div>
                            </div>
                        </div> -->
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="skypeId">Skype Id:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.skypeId" name="skypeId" #skypeId="ngModel" placeholder="Enter Skype Id">
                            </div>
                            <div class="col-lg-4">
                                <label for="phone">Cell Number:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.phone" name="phone" #phone="ngModel" placeholder="Enter Cell Number" pattern="[0-9]*" minlength="10" maxlength="10" required>
                                <div class="form-control-feedback" [hidden]="phone.valid || phone.pristine" *ngIf="phone?.errors && (phone.touched || candidateForm.submitted)">Cell No is required</div>
                                <div class="form-control-feedback" [hidden]="!phone.hasError('minlength')">Cell No should be 10digit</div>
                                <div class="form-control-feedback" [hidden]="!phone.hasError('pattern')">Cell No should be only numbers</div>
                            </div>
                            <!-- <div class="col-lg-6">
                                <label for="address">Address:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.address" name="address" #address="ngModel" placeholder="Enter address">
                            </div> -->
                            <div class="col-lg-4">
                                <label for="gender">Gender:</label>
                                <select id="gender" name="gender" [(ngModel)]="candidate.gender" #gender="ngModel" class="form-control m-input" required>
                                    <option [ngValue]="undefined">Select Gender</option>
                                    <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="notes">
                                    Notes:
                                </label>
                                <textarea id="textarea-input" type="text" class="form-control m-input" id="notes" aria-describedby="notes" placeholder="Notes" [(ngModel)]="candidate.notes" #notes="ngModel" name="notes"></textarea>
                                <!-- <div class="form-control-feedback" *ngIf="notes?.errors && (notes.touched || candidateForm.submitted)">
                                    Notes required</div> -->
                            </div>
                            <div class="col-lg-4">
                                <label for="city">City:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.city" name="city" #city="ngModel" placeholder="Enter city">
                            </div>
                            <div class="col-lg-4">
                                <label for="birthDate">Birth Date:</label>
                                <input type="date" class="form-control" [(ngModel)]="candidate.birthDate" name="birthDate" #birthDate="ngModel" placeholder=" Enter BirthDate">
                                <div class="form-control-feedback" *ngIf="birthDate.valid && (candidateForm.submitted)"> BirthDate is required</div>
                            </div>
                        </div>

                        <!-- <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="state">State:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.state" name="state" #state="ngModel" placeholder="Enter state">
                            </div>
                            <div class="col-lg-4">
                                <label for="country">Country:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.country" name="country" #country="ngModel" placeholder="Enter country">
                            </div>
                            <div class="col-lg-4">
                                <label for=" zip">Zip Code:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.zip" name="zip" #zip="ngModel" placeholder=" Enter zip code" pattern="[0-9]*"  minlength="6" maxlength="6" required>
                                <div class="form-control-feedback" [hidden]="zip.valid || zip.pristine" *ngIf="zip?.errors && (zip.touched || candidateForm.submitted)">Zipcode is required</div>
                                <div class="form-control-feedback" [hidden]="!zip.hasError('minlength')">Zipcode should be 6 digit</div>
                                <div class="form-control-feedback" [hidden]="!zip.hasError('pattern')">Zipcode should be only numbers</div>
                            </div>
                        </div> -->
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="currentcomp">
                                    Current Company:
                                </label>
                                <textarea id="textarea-input" type="text" class="form-control m-input" id="currentcomp" aria-describedby="notes" placeholder="Current Company" [(ngModel)]="candidate.currentcomp" #currentcomp="ngModel" name="currentcomp" required></textarea>
                                <div class="form-control-feedback" *ngIf="currentcomp?.errors && (currentcomp.touched || candidateForm.submitted)">
                                    Current Company</div>
                            </div>
                            <div class="col-lg-4">
                                <label for="colg">College:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.colg" name="colg" #colg="ngModel" placeholder="Enter College">
                            </div>
                            <div class="col-lg-4">
                                <label>Resume:</label>
                                <br>
                                <input type="file" (change)="upload($event.target.files, candidate)" /> Upload Percent: {{percentDone}}% <br />
                                <br>
                            </div>
                        </div>
                        <!--/.row-->

                    </div>
                </form>
                <!--/.col-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-accent" data-dismiss="modal" [disabled]="!candidateForm.form.valid" *ngIf="!formFlag" (click)="addNewCandidate();">
                    Submit
                </button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header header-co">
                <h5 class="header-ap" id="exampleModalLabel">
                    Edit Candidate Profile
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
            </div>
            <div class="modal-body">
                <form class="m-form m-form--fit m-form--label-align-right" #candidateForm="ngForm" name="candidateForm" novalidate>
                    <div class="m-portlet__body">

                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="fname">First Name:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.fname" name="fname" #fname="ngModel" placeholder="Enter first name" required>
                                <div class="form-control-feedback" *ngIf="fname?.errors && (fname.touched || candidateForm.submitted)">First Name is required</div>
                            </div>
                            <div class="col-lg-4">
                                <label for="lname">Last Name:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.lname" name="lname" #lname="ngModel" placeholder="Enter last name" required>
                                <div class="form-control-feedback" *ngIf="lname?.errors && (lname.touched || candidateForm.submitted)">Last Name is required</div>
                            </div>
                            <div class="col-lg-4">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" [(ngModel)]="candidate.email" name="email" #email="ngModel" placeholder="Enter email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                                <div class="form-control-feedback" *ngIf="email.errors && (email.valid || email.dirty || email.touched || candidateForm.submitted)">
                                    Email is required and format should be
                                    <i>john@doe.com</i>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label for="birthDate">Birth Date:</label>
                                <input type="date" class="form-control" [(ngModel)]="candidate.birthDate" name="birthDate" #birthDate="ngModel" placeholder=" Enter BirthDate">
                                <div class="form-control-feedback" *ngIf="birthDate.valid && (candidateForm.submitted)"> BirthDate is required</div>
                            </div>
                        </div> -->
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="skypeId">Skype Id:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.skypeId" name="skypeId" #skypeId="ngModel" placeholder="Enter Skype Id">
                            </div>
                            <div class="col-lg-4">
                                <label for="phone">Cell Number:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.phone" name="phone" #phone="ngModel" placeholder="Enter Cell Number" pattern="[0-9]*" minlength="10" maxlength="10" required>
                                <div class="form-control-feedback" [hidden]="phone.valid || phone.pristine" *ngIf="phone?.errors && (phone.touched || candidateForm.submitted)">Cell No is required</div>
                                <div class="form-control-feedback" [hidden]="!phone.hasError('minlength')">Cell No should be 10digit</div>
                                <div class="form-control-feedback" [hidden]="!phone.hasError('pattern')">Cell No should be only numbers</div>
                            </div>
                            <!-- <div class="col-lg-6">
                                <label for="address">Address:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.address" name="address" #address="ngModel" placeholder="Enter address">
                            </div> -->
                            <div class="col-lg-4">
                                <label for="gender">Gender:</label>
                                <select id="gender" name="gender" [(ngModel)]="candidate.gender" #gender="ngModel" class="form-control m-input" required>
                                    <option [ngValue]="undefined">Select Gender</option>
                                    <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="notes">
                                    Notes:
                                </label>
                                <textarea id="textarea-input" type="text" class="form-control m-input" id="notes" aria-describedby="notes" placeholder="Notes" [(ngModel)]="candidate.notes" #notes="ngModel" name="notes" required></textarea>
                                <div class="form-control-feedback" *ngIf="notes?.errors && (notes.touched || candidateForm.submitted)">
                                    Notes required</div>
                            </div>
                            <div class="col-lg-4">
                                <label for="city">City:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.city" name="city" #city="ngModel" placeholder="Enter city">
                            </div>
                            <div class="col-lg-4">
                                <label for="birthDate">Birth Date:</label>
                                <input type="date" class="form-control" [(ngModel)]="candidate.birthDate" name="birthDate" #birthDate="ngModel" placeholder=" Enter BirthDate">
                                <div class="form-control-feedback" *ngIf="birthDate.valid && (candidateForm.submitted)"> BirthDate is required</div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="currentcomp">
                                    Current Company:
                                </label>
                                <textarea id="textarea-input" type="text" class="form-control m-input" id="currentcomp" aria-describedby="notes" placeholder="Current Company" [(ngModel)]="candidate.currentcomp" #currentcomp="ngModel" name="currentcomp" required></textarea>
                                <div class="form-control-feedback" *ngIf="currentcomp?.errors && (currentcomp.touched || candidateForm.submitted)">
                                    Current Company</div>
                            </div>
                            <div class="col-lg-4">
                                <label for="colg">College:</label>
                                <input type="text" class="form-control" [(ngModel)]="candidate.colg" name="colg" #colg="ngModel" placeholder="Enter College">
                            </div>
                            <div class="col-lg-4">
                                <label>Resume:</label>
                                <br>
                                <input type="file" (change)="upload($event.target.files, candidate)" /> Upload Percent: {{percentDone}}% <br />
                                <br>
                            </div>
                        </div>
                        <!--/.row-->

                    </div>
                </form>
                <!--/.col-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                        Close
                    </button>
                <button type="button" class="btn btn-accent" *ngIf="formFlag" data-dismiss="modal" (click)="updateCandidate();successModal.hide()">Update</button>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
