<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				My Profile
			</h3>
		</div>
		<div>
			<!-- <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<!-- <div class="col-xl-3 col-lg-4">
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__body">
					<div class="m-card-profile">
						<div class="m-card-profile__title m--hide">
							Your Profile
						</div>
						<div class="m-card-profile__pic">
							<div class="m-card-profile__pic-wrapper">
								<img src="./assets/app/media/img/users/user4.jpg" alt=""/>
							</div>
						</div>
						<div class="m-card-profile__details">
							<span class="m-card-profile__name">
								Mark Andre
							</span>
							<a href="" class="m-card-profile__email m-link">
								mark.andre@gmail.com
							</a>
						</div>
					</div>
				 <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
						<li class="m-nav__separator m-nav__separator--fit"></li>
						<li class="m-nav__section m--hide">
							<span class="m-nav__section-text">
								Section
							</span>
						</li>
						<li class="m-nav__item">
							<a routerLink="/header/profile" class="m-nav__link">
								<i class="m-nav__link-icon flaticon-profile-1"></i>
								<span class="m-nav__link-title">
									<span class="m-nav__link-wrap">
										<span class="m-nav__link-text">
											My Profile
										</span>
										<span class="m-nav__link-badge">
											<span class="m-badge m-badge--success">
												2
											</span>
										</span>
									</span>
								</span>
							</a>
						</li>
						<li class="m-nav__item">
							<a routerLink="/header/profile" class="m-nav__link">
								<i class="m-nav__link-icon flaticon-share"></i>
								<span class="m-nav__link-text">
									Activity
								</span>
							</a>
						</li>
						<li class="m-nav__item">
							<a routerLink="/header/profile" class="m-nav__link">
								<i class="m-nav__link-icon flaticon-chat-1"></i>
								<span class="m-nav__link-text">
									Messages
								</span>
							</a>
						</li>
						<li class="m-nav__item">
							<a routerLink="/header/profile" class="m-nav__link">
								<i class="m-nav__link-icon flaticon-graphic-2"></i>
								<span class="m-nav__link-text">
									Sales
								</span>
							</a>
						</li>
						<li class="m-nav__item">
							<a routerLink="/header/profile" class="m-nav__link">
								<i class="m-nav__link-icon flaticon-time-3"></i>
								<span class="m-nav__link-text">
									Events
								</span>
							</a>
						</li>
						<li class="m-nav__item">
							<a routerLink="/header/profile" class="m-nav__link">
								<i class="m-nav__link-icon flaticon-lifebuoy"></i>
								<span class="m-nav__link-text">
									Support
								</span>
							</a>
						</li>
					</ul> 
				
					 <div class="m-widget1 m-widget1--paddingless">
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										Member Profit
									</h3>
									<span class="m-widget1__desc">
										Awerage Weekly Profit
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-brand">
										+$17,800
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										Orders
									</h3>
									<span class="m-widget1__desc">
										Weekly Customer Orders
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-danger">
										+1,800
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										Issue Reports
									</h3>
									<span class="m-widget1__desc">
										System bugs and issues
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-success">
										-27,49%
									</span>
								</div>
							</div>
						</div>
					</div> 
				</div>
			</div>
		</div> -->
		<div class="col-xl-12 col-lg-8">
			<div class="m-portlet m-portlet--full-height m-portlet--tabs">
				<!-- <div class="m-portlet__head">
					<div class="m-portlet__head-tools">
						<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
						 <li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
									Messages
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
									Settings
								</a>
							</li> 
						</ul>
					</div>
				<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li class="m-portlet__nav-item m-portlet__nav-item--last">
								<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
									<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
										<i class="la la-gear"></i>
									</a>
									<div class="m-dropdown__wrapper">
										<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
										<div class="m-dropdown__inner">
											<div class="m-dropdown__body">
												<div class="m-dropdown__content">
													<ul class="m-nav">
														<li class="m-nav__section m-nav__section--first">
															<span class="m-nav__section-text">
																Quick Actions
															</span>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-share"></i>
																<span class="m-nav__link-text">
																	Create Post
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-chat-1"></i>
																<span class="m-nav__link-text">
																	Send Messages
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-multimedia-2"></i>
																<span class="m-nav__link-text">
																	Upload File
																</span>
															</a>
														</li>
														<li class="m-nav__section">
															<span class="m-nav__section-text">
																Useful Links
															</span>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-info"></i>
																<span class="m-nav__link-text">
																	FAQ
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-lifebuoy"></i>
																<span class="m-nav__link-text">
																	Support
																</span>
															</a>
														</li>
														<li class="m-nav__separator m-nav__separator--fit m--hide"></li>
														<li class="m-nav__item m--hide">
															<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
																Submit
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div> 
				</div> -->
				<div class="modal-body">
						<form class="m-form m-form--fit m-form--label-align-right" #manageuserForm="ngForm" name="manageuserForm" novalidate>
							<div class="m-portlet__body">
									<div class="form-group m-form__group row">
											<div class="col-lg-2">
												<img [src]="user.filePath" width="100px" height="100px"/>
												</div>
										<div class="col-lg-4">
												<label>Profile Image:</label>
												<br>
												<input type="file" (change)="upload($event.target.files, user)" /><br />
												<br>
											</div>
									</div>
								<div class="form-group m-form__group row">
									<div class="col-lg-4">
										<label for="fname">First Name:</label>
										<input type="text" class="form-control" [(ngModel)]="user.fname" #fname="ngModel" name="fname" placeholder="Enter First Name">
										<div class="form-control-feedback" *ngIf="fname?.errors && (fname.touched || manageuserForm.submitted)">First Name is required
										</div>
		
									</div>
									<div class="col-lg-4">
										<label for="lname">Last Name:</label>
										<input type="text" class="form-control" [(ngModel)]="user.lname" #lname="ngModel" name="lname" placeholder="Enter Last Name">
										<div class="form-control-feedback" *ngIf="lname?.errors && (lname.touched || manageuserForm.submitted)">Last Name is required
										</div>
		
									</div>
									<div class="col-lg-4">
										<label for="userID">User Name:</label>
										<input type="text" class="form-control" [(ngModel)]="user.userID" name="userID" #userID="ngModel" placeholder="Enter User name">
										<div class="form-control-feedback" *ngIf="userID?.errors && (userID.touched || manageuserForm.submitted)">User Name is required
										</div>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<div class="col-lg-4">
										<label for="email">Email ID:</label>
										<input type="email" class="form-control" [(ngModel)]="user.email" name="email" #email="ngModel" placeholder="john@doe.com" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
										<div class="form-control-feedback" *ngIf="email.errors && (email.valid || email.dirty || email.touched || manageuserForm.submitted)">
											Email is required</div>
									</div>
									<div class="col-lg-3" *ngIf="user._id == null">
										<label for="password">Password:</label>
										<input type="password" class="form-control" [(ngModel)]="user.password" name="password" #password="ngModel" placeholder="Enter password" (change)="confirmPassword.control.updateValueAndValidity()">
										<div class="form-control-feedback" *ngIf="password.errors && (password.touched || password.dirty && manageuserForm.submitted)">
											Password is required</div>
		
									</div>
									<div class="col-lg-3" *ngIf="user._id == null">
										<label for="rpassword">Repeat Password:</label>
										<input type="password" class="form-control" [(ngModel)]="user.confirmPassword" name="confirmPassword" #confirmPassword="ngModel" placeholder="Enter Repeat password" validateEqual="password">
										<span class="form-control-feedback" *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty && confirmPassword.errors?.required && manageuserForm.submitted)">Password
											is required.</span>
										<span class="form-control-feedback" *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required)">Password
											is not match.</span>
									</div>
		
									<div class="col-lg-4">
										<label for="address1">Address:</label>
										<input type="text" class="form-control" [(ngModel)]="user.address1" name="address1" #address1="ngModel" placeholder="Enter Address">
										<div class="form-control-feedback" *ngIf="address1?.errors && (address1.touched || manageuserForm.submitted)">Address is required</div>
									</div>
									<div class="col-lg-4">
										<label for="company">Company Name:</label>
										<input type="text" class="form-control" [(ngModel)]="user.companyname" name="companyname" #companyname="ngModel" placeholder="Enter Company Name">
									</div>
								</div>
								<div class="form-group m-form__group row">
									
									<div class="col-lg-4">
										<label for="phone">Phone Number:</label>
										<input type="text" class="form-control" [(ngModel)]="user.phone" name="phone" #phone="ngModel" placeholder="Enter Phone Number" pattern="[0-9]*" minlength="10" maxlength="10" required>
										<div class="form-control-feedback" [hidden]="phone.valid || phone.pristine" *ngIf="phone?.errors && (phone.touched || manageuserForm.submitted)">Phone No is required
										</div>
										<div class="form-control-feedback" [hidden]="!phone.hasError('minlength')">Phone No should be 10digit</div>
										<div class="form-control-feedback" [hidden]="!phone.hasError('pattern')">Phone No should be only numbers</div>
									</div>
									<div class="col-lg-4">
										<label for="country">
											Country
										</label>
										<select id="country" name="country" [(ngModel)]="user.country" #country="ngModel" class="form-control m-input" required>
											<option [ngValue]="undefined">Select Country:</option>
											<option *ngFor="let country of countries" [value]="country">{{country}}</option>
										</select>
									</div>
									<div class="col-lg-4">
										<label for="state">State:</label>
										<input type="text" class="form-control" [(ngModel)]="user.state" name="state" #state="ngModel" placeholder="Enter State">
										<div class="form-control-feedback" *ngIf="state?.errors && (state.touched || manageuserForm.submitted)">State is required
										</div>
									</div>
								</div>
								<div class="form-group m-form__group row">
								
									<div class="col-lg-4">
										<label for="city">City:</label>
										<input type="text" class="form-control" [(ngModel)]="user.city" name="city" #city="ngModel" placeholder="Enter City">
										<div class="form-control-feedback" *ngIf="city?.errors && (city.touched || manageuserForm.submitted)">City is required
										</div>
		
									</div>
									<div class="col-lg-4">
										<label for="zip">Zip Code:</label>
										<input type="number" class="form-control" (keypress)="keyPress($event)" minlength=6 maxlength=8 [(ngModel)]="user.zip" name="zip" #zip="ngModel" placeholder="Enter Zip Code">
									</div>
								</div>
							</div>
						</form>
					</div>
				<div class="modal-footer">
							<button type="button" class="btn btn-accent"  (click)="getLoggedInUser()">Update</button>
					</div>

			</div>
		</div>
	</div>
</div>
