<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Manage Job
            </h3>
        </div>
    </div>
</div>


<div class="m-content" *ngIf="JobFlag == false">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head header-co">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="flaticon-information"></i>
                        </span>
                        <h3 class="header-ap">
                            Manage Job
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">

                            <a (click)="addNewjobModal();JobFlag = true; formFlag = false;" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-show-hide">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>Create New Job</span>
                                </span>
                            </a>

                            <a (click)="addNewjobModal(); crossplus(); JobFlag = true; formFlag = false;" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-show-hide-mb">
                                <span>
                                    <i class="la la-plus"></i>
                                </span>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-8">
                        <div class="form-group">
                            <!-- <label>Inline Radioes</label> -->
                            <div class="kt-radio-inline">
                                <label class="kt-radio">
                                <input type="radio" name="radio2" (change)="openstatus()"> Open Job
                              </label>
                                <label class="kt-radio">
                                <input type="radio" name="radio2" (change)="closestatus()" > Close Job
                              </label>
                                <label class="kt-radio">
                                <input type="radio" name="radio2" (click)="allstatus()"> All Job
                              </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search by Job title" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table id="table-bgc" class="table" [mfData]="jobs | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="5">
                            <thead>
                                <tr>
                                    <th>
                                        <mfDefaultSorter by="jobID">Job ID</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="jobtitle">Job Title</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="location">Location</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="createdDateTime">Created Date</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="isActive">Status</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="">Action</mfDefaultSorter>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let job of mf.data">
                                    <td>{{job._id}}</td>
                                    <td>{{job.jobtitle}}</td>
                                    <td>{{job.location}}</td>
                                    <td>{{job.createdDateTime | date:'dd-MM-yyyy'}}</td>
                                    <td>
                                        <span class="m-switch m-switch--sm m-switch--icon">
                                            <label>
                                                <input type="checkbox" data-switch="true" name="isActive"
                                                    (click)="activeInactiveJob(job)" [(ngModel)]="job.isActive"
                                                    #isActive="ngModel">
                                                <span></span>
                                        </label>
                                        </span>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" type="button" data-toggle="m-tooltip" title="Edit Job" (click)="openJobModal(job);JobFlag = true; formFlag = true;">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" data-toggle="m-tooltip" title="Delete Job" type="button" (click)="deleteJob(job)">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="m-content" *ngIf="JobFlag == true">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head header-co">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="flaticon-information"></i>
                        </span>
                        <h3 class="header-ap">
                            Create Job
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a data-toggle="modal" data-target="#m_modal_4" (click)="JobFlag = false;" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-show-hide">
                                <span>
                                    <span>Close</span>
                                </span>
                            </a>
                            <!-- For Mobile View -->
                            <a data-toggle="modal" data-target="#m_modal_4" (click)="JobFlag = false;" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-show-hide-mb">
                                <span>
                                    <i class="la la-close"></i>
                                </span>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="card-body">
                <form class="m-form m-form--fit m-form--label-align-right" #createJob="ngForm" name="createJob" novalidate>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-3">
                            <label for="jobtitle">
                                                Job Title:
                                            </label>
                            <input type="text" class="form-control m-input" name="jobtitle" [(ngModel)]="job.jobtitle" #jobtitle="ngModel" aria-describedby="jobtitle" placeholder="Job Title" required>
                            <div class="form-control-feedback" *ngIf="jobtitle?.errors && (jobtitle.touched || createJob.submitted)">
                                Job Title is required</div>
                        </div>
                        <div class="col-lg-3">
                            <label for="responsibilities">
                                                Responsibilities:
                                            </label>
                            <input type="text" class="form-control m-input" id="responsibilities" placeholder="Responsibilities" [(ngModel)]="job.responsibilities" #responsibilities="ngModel" name="responsibilities" required>
                            <div class="form-control-feedback" *ngIf="Responsibilities?.errors && (Responsibilities.touched || createJob.submitted)">
                                Responsibilities is required</div>
                        </div>

                        <div class="col-lg-3">
                                            <label for="department">
                                                Department
                                            </label>
                                            <select class="form-control m-input" id="department" name="department"
                                                [(ngModel)]="job.department" placeholder="Department"
                                                #department="ngModel" aria-describedby="department">
                                                <option [ngValue]="undefined">Select Department:</option>
                                                <option *ngFor="let dept of departments" [value]="dept">{{dept}}
                                                </option>

                                            </select>
                                        </div>
                        <div class="col-lg-3">
                            <label class="">Expiry Date:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="m_datepicker_1" [(ngModel)]="job.expdate" name="expdate" #expdate="ngModel" placeholder="Expiration date" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                                        <i class="la la-calendar-check-o"></i>
                                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-4">
                            <label for="location">
                                                Location:
                                            </label>
                            <input type="text" class="form-control m-input" id="location" aria-describedby="location" placeholder="Location" [(ngModel)]="job.location" #location="ngModel" name="location" required>
                            <div class="form-control-feedback" *ngIf="location?.errors && (location.touched || createJob.submitted)">
                                Location is required</div>
                        </div>
                        <div class="col-lg-4">
                            <label for="jobdesc">
                                            Job Description:
                                        </label>
                            <textarea id="textarea-input" type="text" class="form-control m-input" id="jobdesc" aria-describedby="jobdesc" placeholder="Job Description" [(ngModel)]="job.jobdesc" #jobdesc="ngModel" name="jobdesc" required></textarea>
                            <div class="form-control-feedback" *ngIf="jobdesc?.errors && (jobdesc.touched || createJob.submitted)">
                                Job Description</div>
                        </div>
                        <div class="col-lg-4">
                            <label for="notes">
                                              Notes For Recruiter:
                                          </label>
                            <textarea id="textarea-input" type="text" class="form-control m-input" id="notes" aria-describedby="notes" placeholder="Notes For Recruiter" [(ngModel)]="job.notes" #notes="ngModel" name="notes" required></textarea>
                            <div class="form-control-feedback" *ngIf="notes?.errors && (notes.touched || createJob.submitted)">
                                Notes For Recruiter</div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">

                        <div class="col-lg-4">
                            <label for="postdetails">
                                                Post Details:
                                            </label>
                            <textarea id="textarea-input" type="text" class="form-control m-input" id="postdetails" aria-describedby="postdetails" placeholder="Post Details" [(ngModel)]="job.postdetails" #postdetails="ngModel" name="postdetails" required></textarea>
                            <div class="form-control-feedback" *ngIf="postdetails?.errors && (postdetails.touched || createJob.submitted)">
                                Post Details is required</div>
                        </div>
                        <div class="col-lg-4">
                            <label for="postbrief">
                                                Post Brief:
                                            </label>
                            <textarea id="textarea-input" type="text" class="form-control m-input" id="postbrief" aria-describedby="postbrief" placeholder="Post Brief" [(ngModel)]="job.postbrief" #postbrief="ngModel" name="postbrief" required> </textarea>
                            <div class="form-control-feedback" *ngIf="postbrief?.errors && (postbrief.touched || createJob.submitted)">
                                Post Brief is required</div>
                        </div>
                        <div class="col-lg-4">
                            <label for="disclaimer">
                                                Disclaimer:
                                            </label>
                            <textarea id="textarea-input" type="text" class="form-control m-input" id="disclaimer" aria-describedby="disclaimer" placeholder="Disclaimer" [(ngModel)]="job.disclaimer" #disclaimer="ngModel" name="disclaimer" required></textarea>
                            <div class="form-control-feedback" *ngIf="disclaimer?.errors && (disclaimer.touched || createJob.submitted)">
                                Disclaimer is required</div>
                        </div>
                    </div>



                  <div class="form-group m-form__group row">
                                <div class="col-lg-12">
                                    <ng-select [items]="questionlist" class="bootstrap" bindLabel="question" bindValue="question" [multiple]="true" (add)="onAdd($event)" (remove)="onRemove($event)" placeholder="Select Questions" name="questions" #questions="ngModel" [(ngModel)]="job.questions">
                                    </ng-select>


                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group m-form__group row" *ngIf="job.questions != null">
                                        <div class="table-responsive">
                                            <table id="table-bgc" class="table" [mfData]="job.questions | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
                                                <tbody>
                                                    <tr *ngFor="let question of mf.data">
                                                        <td>{{question}}</td>

                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="8">
                                                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]">
                                                            </mfBootstrapPaginator>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                    </div> 



                    <!-- /////////////////////////////////// -->



                    <button type="button" class="btn btn-accent" *ngIf="formFlag==false" [disabled]="!createJob.form.valid" (click)="addNewJob()">
                                Save Job
                            </button>
                    <button type="button" class="btn btn-accent" *ngIf="formFlag==true" (click)="updateJob()" (click)="JobFlag = false;">
                                Update
                            </button>
                </form>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-custom">
            <div class="modal-header header-co">
                <h5 class="header-ap" id="exampleModalLabel">
                    Create Question
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <form class="m-form m-form--fit m-form--label-align-right" #managequestionForm="ngForm" name="managequestionForm" novalidate>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label for="department">Department:</label>
                                <select name="department" id="department" [(ngModel)]="questionObj.department" placeholder="Department" #department="ngModel" class="form-control m-input">
                                    <option [ngValue]="undefined">Select Department</option>
                                    <option *ngFor="let dept of departments" [value]="dept">{{dept}}</option>
                                </select>

                            </div>
                            <div class="col-lg-6">
                                <label for="domain">
                                    Question Domain
                                </label>
                                <select class="form-control m-input" [(ngModel)]="questionObj.domain" name="domain" #domain="ngModel" placeholder="Domain" aria-describedby="domain">
                                    <option [ngValue]="undefined">Select Domain</option>
                                    <option *ngFor="let domain of domains" [value]="domain">{{domain}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label for="question">Question:</label>
                                <input type="text" class="form-control m-input" name="question" [(ngModel)]="questionObj.question" #question="ngModel" name="question" placeholder="Question" required>
                                <div class="form-control-feedback" *ngIf="question?.errors && (question.touched || managequestionForm.submitted)">
                                    Question is required</div>

                            </div>
                            <div class="col-lg-6">
                                <label for="questionduration">Question Duration:</label>
                                <input type="number" class="form-control m-input" name="questionduration" [(ngModel)]="questionObj.questionduration" #questionduration="ngModel" name="questionduration" placeholder="Question Duration" required>
                                <div class="form-control-feedback" *ngIf="questionduration?.errors && (questionduration.touched || managequestionForm.submitted)">
                                    Question duration is required</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" [disabled]="!managequestionForm.form.valid" data-dismiss="modal" (click)="createQuestion(questionObj)">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
