<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Manage User
            </h3>

        </div>

    </div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head header-co">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="flaticon-user"></i>
                        </span>
                        <h3 class="header-ap">
                            Manage User
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a data-toggle="modal" data-target="#m_modal_4" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-show-hide" (click)="addNewUserModal();formFlag = false;">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>Create New User</span>
                                </span>
                            </a>
                            <a data-toggle="modal" data-target="#m_modal_4" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-show-hide-mb" (click)="addNewUserModal();formFlag = false;">
                                <span>
                                    <i class="la la-plus"></i>
                                </span>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="m-portlet__body">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-4 offset-md-8">
                        <div class="input-group">
                            <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search by First Name" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table id="table-bgc" class="table" [mfData]="users | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="5">
                            <thead>
                                <tr>
                                    <th>
                                        <mfDefaultSorter by="fname">First Name</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="lname">Last Name</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="email">Email</mfDefaultSorter>
                                    </th>
                                    <!-- <th>
                                        <mfDefaultSorter by="usertype">UserType</mfDefaultSorter>
                                    </th> -->
                                    <th>
                                        <mfDefaultSorter by="">Action</mfDefaultSorter>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of mf.data">
                                    <td>{{user.fname}}</td>
                                    <td>{{user.lname}}</td>
                                    <td>{{user.email}}</td>
                                    <!-- <td><span *ngIf="user.userType==1; else temp">Manager
                                        </span>
                                        <ng-template #temp>
                                          <span>Team Lead</span>
                                        </ng-template>

                                       </td> -->
                                    <td>
                                        <button class="btn btn-primary btn-sm" data-toggle="m-tooltip" title="Edit User" style="margin-bottom: 4px" type="button" data-toggle="modal" data-target="#m_modal_4" (click)="openUserModal(user);formFlag = true;">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" data-toggle="m-tooltip" title="Delete User" style="margin-bottom: 4px" type="button" (click)="deleteUser(user)">
                                            <i class="fa fa-close"></i>
                                        </button>

                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header header-co">
                <h5 class="header-ap" id="exampleModalLabel">
                    User Profile
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form m-form--fit m-form--label-align-right" #manageuserForm="ngForm" name="manageuserForm" novalidate>
                    <div class="m-portlet__body">

                        <div class="form-group m-form__group row">
                            <div class="col-lg-3">
                                <label for="fname">First Name:</label>
                                <input type="text" class="form-control" [(ngModel)]="user.fname" #fname="ngModel" name="fname" placeholder="Enter First Name" required>
                                <div class="form-control-feedback" *ngIf="fname?.errors && (fname.touched || manageuserForm.submitted)">First Name is required
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <label for="lname">Last Name:</label>
                                <input type="text" class="form-control" [(ngModel)]="user.lname" #lname="ngModel" name="lname" placeholder="Enter Last Name" required>
                                <div class="form-control-feedback" *ngIf="lname?.errors && (lname.touched || manageuserForm.submitted)">Last Name is required
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <label for="userID">User Name:</label>
                                <input type="text" class="form-control" [(ngModel)]="user.userID" name="userID" #userID="ngModel" placeholder="Enter User name" required>
                                <div class="form-control-feedback" *ngIf="userID?.errors && (userID.touched || manageuserForm.submitted)">User Name is required
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label for="userType ">User Type:</label>
                                <select id="userType" name="usertype" [(ngModel)]="user.userType" #userType="ngModel" class="form-control m-input" required>
                                    <option [ngValue]="undefined">Select User type</option>
                                    <option *ngFor="let usertype of usertypes" [value]="usertype.value">
                                        {{usertype.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-3">
                                <label for="email">Email ID:</label>
                                <input type="email" class="form-control" [(ngModel)]="user.email" name="email" #email="ngModel" placeholder="john@doe.com" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                                <div class="form-control-feedback" *ngIf="email.errors && (email.valid || email.dirty || email.touched || manageuserForm.submitted)">
                                    Email is required</div>
                            </div>
                            <div class="col-lg-3" *ngIf="user._id == null">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #password="ngModel" placeholder="Enter password" (change)="confirmPassword.control.updateValueAndValidity()" required>
                                <div class="form-control-feedback" *ngIf="password.errors && (password.touched || password.dirty && manageuserForm.submitted)">
                                    Password is required</div>

                            </div>
                            <div class="col-lg-3" *ngIf="user._id == null">
                                <label for="rpassword">Repeat Password:</label>
                                <input type="password" class="form-control" [(ngModel)]="user.confirmPassword" name="confirmPassword" #confirmPassword="ngModel" placeholder="Enter Repeat password" validateEqual="password" required>
                                <span class="form-control-feedback" *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty && confirmPassword.errors?.required && manageuserForm.submitted)">Password
                                    is required.</span>
                                <span class="form-control-feedback" *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required)">Password
                                    is not match.</span>
                            </div>

                            <div class="col-lg-3">
                                <label for="address1">Address:</label>
                                <input type="text" class="form-control" [(ngModel)]="user.address1" name="address1" #address1="ngModel" placeholder="Enter Address" required>
                                <div class="form-control-feedback" *ngIf="address1?.errors && (address1.touched || manageuserForm.submitted)">Address is required</div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                                <div class="col-lg-3">
                                        <label>Upload Image:</label>
                                        <br>
                                        <input type="file" (change)="upload($event.target.files, user)" /> Upload Percent: {{percentDone}}% <br />
                                        <br>
                                    </div>
                            <div class="col-lg-3">
                                <label for="company">Company Name:</label>
                                <input type="text" class="form-control" [(ngModel)]="user.companyname" name="companyname" #companyname="ngModel" placeholder="Enter Company Name">
                            </div>
                            <div class="col-lg-3">
                                <label for="phone">Phone Number:</label>
                                <input type="text" class="form-control" [(ngModel)]="user.phone" name="phone" #phone="ngModel" placeholder="Enter Phone Number" pattern="[0-9]*" minlength="10" maxlength="10" required>
                                <div class="form-control-feedback" [hidden]="phone.valid || phone.pristine" *ngIf="phone?.errors && (phone.touched || manageuserForm.submitted)">Phone No is required
                                </div>
                                <div class="form-control-feedback" [hidden]="!phone.hasError('minlength')">Phone No should be 10digit</div>
                                <div class="form-control-feedback" [hidden]="!phone.hasError('pattern')">Phone No should be only numbers</div>
                            </div>
                            <div class="col-lg-3">
                                <label for="country">
                                    Country
                                </label>
                                <select id="country" name="country" [(ngModel)]="user.country" #country="ngModel" class="form-control m-input" required>
                                    <option [ngValue]="undefined">Select Country:</option>
                                    <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group m-form__group row">
                          <div class="col-lg-4">
                                <label for="state">State:</label>
                                <input type="text" class="form-control" [(ngModel)]="user.state" name="state" #state="ngModel" placeholder="Enter State" required>
                                <div class="form-control-feedback" *ngIf="state?.errors && (state.touched || manageuserForm.submitted)">State is required
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="city">City:</label>
                                <input type="text" class="form-control" [(ngModel)]="user.city" name="city" #city="ngModel" placeholder="Enter City" required>
                                <div class="form-control-feedback" *ngIf="city?.errors && (city.touched || manageuserForm.submitted)">City is required
                                </div>

                            </div>
                            <div class="col-lg-4">
                                <label for="zip">Zip Code:</label>
                                <input type="number" class="form-control" (keypress)="keyPress($event)" minlength=6 maxlength=8 [(ngModel)]="user.zip" name="zip" #zip="ngModel" placeholder="Enter Zip Code">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-accent" data-dismiss="modal" [disabled]="!manageuserForm.form.valid" *ngIf="!formFlag" (click)="createUser()">
                        Submit
                    </button>
                    <button type="button" class="btn btn-accent" [disabled]="!manageuserForm.form.valid" *ngIf="formFlag" data-dismiss="modal" (click)="updateUser()">Update</button>

                </div>
        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
