<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
	<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark" data-menu-vertical="true"
	 data-menu-scrollable="false" data-menu-dropdown-timeout="500">
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active"  *ngIf="userType == 1 || userType == 0 || userType == 2"  routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
				<a routerLink="/index" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-line-graph"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Dashboard
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" *ngIf="userType == 1 || userType == 0 || userType == 2 || userType == 3" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-toggle="hover">
				<a routerLink="/components/interviewinvite" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-exclamation-2">
						<span></span>
					</i>
					<span class="m-menu__link-text">
						Interviews
					</span>
				</a>
			</li>
			<!-- <li class="m-menu__item" routerLinkActive="m-menu__item--active" *ngIf="userType == 1 || userType == 0 || userType == 2 || userType == 3" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-toggle="hover">
				<a routerLink="/components/kanban" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-exclamation-2">
						<span></span>
					</i>
					<span class="m-menu__link-text">
						kanban
					</span>
				</a>
			</li> -->
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" *ngIf="userType == 1 || userType == 0 || userType == 2"  routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
				<a routerLink="/components/questionbank" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-car">
						<span></span>
					</i>
					<span class="m-menu__link-text">
						Questions
					</span>
				</a>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" *ngIf="userType == 1 || userType == 0 || userType == 2" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
				<a routerLink="/components/jobmanagement" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-information">
						<span></span>
					</i>
					<span class="m-menu__link-text">
						Jobs
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu"  *ngIf="userType == 1 || userType == 0" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
			 aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-menu-1">
					</i>
					<span class="m-menu__link-text">
						User Management
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" *ngIf="userType == 1 || userType == 0"  routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/components/usermanagement/manageuser" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-user">
									<span></span>
								</i>
								<span class="m-menu__link-text">
								 Users
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>

			<li class="m-menu__item" routerLinkActive="m-menu__item--active" *ngIf="userType == 0" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
				<a routerLink="/components/clientmanagement" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-user-add">
						<span></span>
					</i>
					<span class="m-menu__link-text">
						Clients
					</span>
				</a>
			</li>

			<li class="m-menu__item" routerLinkActive="m-menu__item--active" *ngIf="userType == 1 || userType == 0" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
				<a routerLink="/components/emailtemp" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-suitcase">
						<span></span>
					</i>
					<span class="m-menu__link-text">
						Email Template
					</span>
				</a>
			</li>

			<li class="m-menu__item" routerLinkActive="m-menu__item--active"  *ngIf="userType == 1 || userType == 0 || userType == 2" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
				<a routerLink="/components/candidate" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-users">
						<span></span>
					</i>
					<span class="m-menu__link-text">
						Candidates
					</span>
				</a>
			</li>
		</ul>
	</div>
</div>