<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="row">
                        <div class="col-md-12" style="text-align: center">
                            <img src="assets/demo/default/media/img/logo/HireAmigo1.png" width="100px" height="60px" />
                        </div>
                    </div>
                </div>
                <div class="card custom-card">
                    <div class="card-body">
                        <form class="m-form m-form--fit m-form--label-align-right" #candidateForm="ngForm"
                            name="candidateForm" novalidate>
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <label class="custom-label">Candidate
                                                Name:</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control m-input" id="interviwer_name"
                                                placeholder="Enter Candidate Name" required>
                                            <input type="hidden" style="width: 100%" id="id" name="id"
                                                value="<%= p.id%>" />
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group m-form__group">
                                                <button type="button" id="startInterview" class="btn btn-accent"
                                                    [disabled]="!candidateForm.form.valid"
                                                    *ngIf="!formFlag">Proceed</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="recordVideo">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="m-portlet__foot">
                    <div class="row">
                        <div class="col-md-12 custom-label" style="text-align: center; color:#000;">
                            &copy;HireAmigo
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>