<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Dashboard
            </h3>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row m-row--col-separator-xl">
        <div class="col-sm-6 col-lg-4">
            <div class="brand-card">
                <div class="brand-card-header bg-fac-interview">
                    <i class="fa fa-desktop icon-dash" aria-hidden="true"></i>
                    <span class="bg-fac-text">INTERVIEWS</span>
                </div>
                <span class="bt-line"></span>
                <div class="brand-card-body bg-fac-interview">
                    <div>
                        <div class="text-uppercase text-muted small">New</div>
                        <div class="text-value">{{new_Interview}}</div>
                    </div>
                    <div>
                        <div class="text-uppercase text-muted small">Total</div>
                        <div class="text-value">{{interviews}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="brand-card">
                <div class="brand-card-header bg-fac-jobs">
                    <i class="fa fa-briefcase icon-dash" aria-hidden="true"></i> <span class="bg-fac-text"> JOBS</span>
                </div>
                <span class="bt-line"></span>
                <div class="brand-card-body bg-fac-jobs">
                    <div>
                        <div class="text-uppercase text-muted small">Open Jobs</div>
                        <div class="text-value">{{openjobs}}</div>
                    </div>
                    <div>
                        <div class="text-uppercase text-muted small">Total Jobs</div>
                        <div class="text-value">{{jobs}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="brand-card">
                <div class="brand-card-header bg-fac-candidate">
                    <i class="fa fa-users icon-dash" aria-hidden="true"></i> <span class="bg-fac-text">
                        CANDIDATES</span>
                </div>
                <span class="bt-line"></span>
                <div class="brand-card-body bg-fac-candidate">
                    <div>
                        <div class="text-uppercase text-muted small">Scheduled</div>
                        <div class="text-value">{{candidates}}</div>
                    </div>
                    <!-- <div>
					<div class="text-value">{{jobs}}</div>
					<div class="text-uppercase text-muted small">Total Jobs</div>
				</div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //////////////////////////////////////////////////// -->
<!-- <div class="m-content">
	<div class="m-portlet">
		<div class="m-portlet__body  m-portlet__body--no-padding">
			<div class="row m-row--no-padding m-row--col-separator-xl">
				<div class="col-md-12 col-lg-6 col-xl-4">
					<div class="m-widget24">
						<div class="m-widget24__item">
							<h4 class="m-widget24__title">
								<i class="fa fa-desktop" aria-hidden="true"></i> INTERVIEWS
							</h4>
							<h4 class="m-dash-data">
								New {{new_Interview}}
							</h4>
							<br>
							<div class="m--space-10"></div>
							<div class="progress m-progress--sm">
								<div class="progress-bar m--bg-info" role="progressbar" style="width: 84%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="row">
								<div class="col-md-4 col-lg-4 col-xl-4">
									<h4 style="margin-top: 10px; padding-left: 26px;">Total- {{interviews}} </h4>
								</div>
								<div class="col-md-8 col-lg-8 col-xl-8">
									<h3></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-6 col-xl-4">
					<div class="m-widget24">
						<div class="m-widget24__item">
							<h4 class="m-widget24__title">
								<i class="fa fa-briefcase" aria-hidden="true"></i> JOBS
							</h4>
							<br>
							<div class="m--space-10"></div>
							<div class="progress m-progress--sm">
								<div class="progress-bar m--bg-brand" role="progressbar" style="width: 78%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="row">
								<div class="col-md-4 col-lg-4 col-xl-4">
									<h6 style="margin-top: 10px; padding-left: 26px;">Created</h6>
									<p>open</p> {{openjobs}}
								</div>
								<div class="col-md-8 col-lg-8 col-xl-8">
									<h3>{{jobs}}</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-6 col-xl-4">
					<div class="m-widget24">
						<div class="m-widget24__item">
							<h4 class="m-widget24__title">
								<i class="fa fa-user" aria-hidden="true"></i> Candidates
							</h4>
							<br>
							<div class="m--space-10"></div>
							<div class="progress m-progress--sm">
								<div class="progress-bar m--bg-danger" role="progressbar" style="width: 69%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="row">
								<div class="col-md-4 col-lg-4 col-xl-4">
									<h6 style="margin-top: 10px; padding-left: 26px;">Scheduled</h6>
								</div>
								<div class="col-md-8 col-lg-8 col-xl-8">
									<h3>{{candidates}}</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- <div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <div class="modal-header  appoint-head-color">
                <h4 class="modal-title text-center appoint-color">
                    <i class="fa fa-user"></i> Interview Details</h4>
            </div>
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel class="accordion-title"
                    title="{{job.jobtitle}} |  ( Completed {{completedCount(job)}} | Pending {{pendingCount(job)}} )"
                    *ngFor="let job of jobList; let i = index; let j = index;">
                    <ng-template ngbPanelContent>
                        <div class="col-12 col-lg-12">
                            <div class="fitness-tabs-content">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" attr.id="tab--{{i}}" data-toggle="tab"
                                            attr.href="#comp{{i}}" role="tab" attr.aria-controls="comp{{i}}"
                                            aria-selected="true">Completed | {{completedCount(job)}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab--2" data-toggle="tab" attr.href="#pend{{j+3}}"
                                            role="tab" attr.aria-controls="pend{{j+3}}" aria-selected="false">Pending |
                                            {{pendingCount(job)}}
                                            <span></span> </a>
                                    </li>
                                </ul>

                                <div class="tab-content mb-100" id="myTabContent">
                                    <div class="tab-pane fade active show" attr.id="comp{{i}}" role="tabpanel"
                                        attr.aria-labelledby="tab--{{i}}">
                                        <div class="fitness-tab-content">
                                            <div class="fitness-tab-text">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Candidate Name
                                                                </th>
                                                                <th>
                                                                    Candidate Email
                                                                </th>

                                                                <th>
                                                                    Video
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let interview of job.interviewIds">

                                                                <td *ngIf="interview.isActive === 'c'">
                                                                    {{interview.candidatename}}</td>
                                                                <td *ngIf="interview.isActive === 'c'">
                                                                    {{interview.email}}</td>
                                                                <td> <a data-toggle="modal" class="btn btn-primary"
                                                                        data-target="#m_modal_5"
                                                                        *ngIf="interview.videoPath != null"
                                                                        data-backdrop="static" data-keyboard="false"
                                                                        href="#" (click)="showLive(interview)">Show
                                                                        video</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>       
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" attr.id="pend{{j+3}}" role="tabpanel"
                                        attr.aria-labelledby="tab--{{i}}">
                                        <div class="fitness-tab-content">
                                            <div class="fitness-tab-text">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Candidate Name
                                                                </th>
                                                                <th>
                                                                    Candidate Email
                                                                </th>

                                                                <th>
                                                                    Last Emailed
                                                                </th>
                                                                <th>
                                                                    Action
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let interview of job.interviewIds">

                                                                <td *ngIf="interview.isActive === 'p'">
                                                                    {{interview.candidatename}}</td>
                                                                <td *ngIf="interview.isActive === 'p'">
                                                                    {{interview.email}}</td>
                                                                <td *ngIf="interview.isActive === 'p'">
                                                                    {{interview.resendDate | date:'medium'}}</td>
                                                                <td *ngIf="interview.isActive === 'p'">
                                                                    <button class="btn btn-primary"
                                                                        (click)="resendEmail(interview)" type="button">
                                                                        Resend Email
                                                                    </button></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                </ngb-panel>

            </ngb-accordion>
</div>
</div>
</div> -->

<!-- Questions Addition Screen -->

<div class="m-content">
    <div class="modal-header  header-co">
        <div class="row">
            <div class="col-md-4">
                <h4 class="header-ap">Question Add</h4>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6 ">
                        <button type="button" class="btn btn-accent m-btn" data-toggle="modal" data-backdrop="static"
                            data-keyboard="false" data-target="#m_modal_1_5">
                            Add New job
                        </button>
                    </div>
                    <div class="col-md-6 ">
                        <button type="button" class="btn btn-accent m-btn btn-cand" data-toggle="modal"
                            data-target="#m_modal_1_6">
                            Add New Question
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                    <!-- table table-striped -->
                    <div class="table-responsive">
                            <table id="table-bgc" class="table" [mfData]="questionlist" #mf3="mfDataTable" [mfRowsOnPage]="5">
                                    <thead>
                                        <tr>
                                            <th class="job-center">Queston</th>
                                            <th class="job-center">Department</th>
                                            <!-- <mfDefaultSorter class="job-center" by="question">Question</mfDefaultSorter>
                                            <mfDefaultSorter class="job-center" by="department">Department</mfDefaultSorter> -->
                                        </tr>
                                        
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of mf3.data">
                                            <td class="job-center">{{item.question}}</td>
                                            <td class="job-center">{{item.department}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="8">
                                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                    <!-- <table class="table table-striped" [mfData]="questionlist | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="5">
                            <thead>
                              <tr>
                                <th style="text-align: center">
                                  <mfDefaultSorter by="question">Queston</mfDefaultSorter>
                                </th>
                                <th style="text-align: center">
                                  <mfDefaultSorter by="department">Department</mfDefaultSorter>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of mf.data">
                                <td style="text-align: center">{{item.question}}</td>
                                <td style="text-align: center">{{item.department}}</td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <td colspan="4">
                                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                </td>
                              </tr>
                            </tfoot>
                          </table> -->
                        </div>
            </div>
        </div>
    </div>

    <!-- <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div> -->
</div>

<!-- Schedule Interview Screen -->

<div class="m-content">
    <div class="modal-header  header-co">
        <div class="row">
            <div class="col-md-4">
                <h4 class="header-ap">Schedule Interview</h4>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-accent m-btn" (click)="openInterviewModal()"
                            data-toggle="modal" data-target="#m_modal_1_3">
                            Take Interview
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-accent m-btn btn-cand" data-toggle="modal"
                            data-target="#m_modal_1_4">
                            Add new Candidate
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table id="table-bgc" class="table" [mfData]="jobList" #mf1="mfDataTable" [mfRowsOnPage]="5">
                            <thead>
                                <tr>
                                    <th class="job-center">Jobs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let job of mf1.data">
                                    <td class="job-center">{{job.jobtitle}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table id="table-bgc" class="table" [mfData]="candidatelist" #mf2="mfDataTable"
                            [mfRowsOnPage]="5">
                            <thead>
                                <tr>
                                    <th class="job-center">Candidates</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let candidate of mf2.data">
                                    <td class="job-center">{{candidate.fname}} {{candidate.lname}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Job vise cards -->

<div class="m-content">
    <div class="modal-header  header-co">
        <h4 class="header-ap">
            Job Vise Card</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6" *ngFor="let job of jobList; let i = index; let j = index;">
                <div class="card">
                    <div class="card-header">
                        <b>{{job.jobtitle}}</b>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="main-card">
                                    <span>Completed ({{completedCount(job)}})</span>
                                    <div *ngFor="let interview of job.interviewIds">
                                        <!-- <a>
                                                                <p *ngIf="interview.isActive === 'c'">{{interview.candidatename}}</p>
                                                            </a> -->
                                        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                                            <ngb-panel class="accordion-title" *ngIf="interview.isActive === 'c'"
                                                title="{{interview.candidatename}}">
                                                <ng-template ngbPanelContent>
                                                    <div class="col-12 col-lg-12">
                                                        <p>{{interview.candidatename}}</p>
                                                        <p>{{interview.email}}</p>
                                                        <p><a data-toggle="modal" data-target="#m_modal_5"
                                                                *ngIf="interview.videoPath != null"
                                                                data-backdrop="static" data-keyboard="false" href="#"
                                                                (click)="showLive(interview)"> <img
                                                                    src="./assets/image/video.png"></a></p>
                                                    </div>
                                                </ng-template>
                                            </ngb-panel>
                                        </ngb-accordion>
                                    </div>

                                </div>

                            </div>


                            <div class="col-md-6">
                                <div class="main-card">
                                    <span>Pending ({{pendingCount(job)}})</span>
                                    <div *ngFor="let interview of job.interviewIds">
                                        <!-- <p *ngIf="interview.isActive === 'p'">{{interview.candidatename}}</p> -->

                                        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                                            <ngb-panel class="accordion-title" *ngIf="interview.isActive === 'p'"
                                                title="{{interview.candidatename}}">
                                                <ng-template ngbPanelContent>
                                                    <div class="col-12 col-lg-12">
                                                        <p>{{interview.candidatename}}</p>
                                                        <p>{{interview.email}}</p>
                                                        <!-- <li>{{interview.resendDate | date:'medium'}}</li> -->
                                                        <button class="btn btn-accent"
                                                            (click)="resendEmail(interview)"><img
                                                                src="./assets/image/resend.png"></button>
                                                    </div>
                                                </ng-template>
                                            </ngb-panel>
                                        </ngb-accordion>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="control-section accordion-control-section">
					<div class="e-sample-resize-container">

					  <ejs-accordion>
						  <e-accordionitems >
							<e-accordionitem expanded='true' >
							  <ng-template #header>
								<div>d</div>
							  </ng-template>
							  <ng-template #content>
								<div>Microsoft ASP.NET is a set of technologies in the Microsoft .NET Framework for building Web applications and XML Web
								  services. ASP.NET pages execute on the server and generate markup such as HTML, WML, or XML that is sent to a desktop
								  or mobile browser. ASP.NET pages use a compiled,event-driven programming model that improves performance and enables
								  the separation of application logic and user interface.</div>
							  </ng-template>
							</e-accordionitem>

						  </e-accordionitems>
						</ejs-accordion>
					</div>
				  </div> -->


<!-- <div class="animated fadeIn">
	<div class="card">
		<div class="card-header">
			<div class="modal-header  appoint-head-color">
				<h4 class="modal-title text-center appoint-color">
					<i class="fa fa-user"></i> Kanban Board</h4>
			</div>
			<daypilot-kanban [config]="config" #kanban></daypilot-kanban>
		</div>
	</div>
</div> -->
<!-- <div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <div class="modal-header  appoint-head-color">
                <h4 class="modal-title text-center appoint-color">
                    <i class="fa fa-user"></i> Appointment Scheduler</h4>
            </div>
            <div class="modal-body modal-appointments-body">
                <div class="clearfix">
                    <div class="float-right mob-float-none">
                    </div>
                </div>
            </div>
        </div>

        <kendo-scheduler [kendoSchedulerBinding]="events" [selectedDate]="selectedDate" style="height: 600px;">
            <kendo-scheduler-day-view [startTime]="startTime">
            </kendo-scheduler-day-view>
            <kendo-scheduler-week-view [startTime]="startTime">
            </kendo-scheduler-week-view>
            <kendo-scheduler-month-view>
            </kendo-scheduler-month-view>
            <ng-template kendoSchedulerEditDialogTemplate>
            </ng-template>
        </kendo-scheduler>
    </div>
</div> -->

<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header header-co">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
                <!-- <h5 class="header-ap" id="exampleModalLabel" id="showInterview">
                                Play
                            </h5> -->
                <!-- <input type="hidden" id="interview_id" name="interview_id" value="<%= modal._id%>" />
                            <button type="button" id="showInterview" class="btn btn-info">Proceed</button> -->
            </div>
            <div class="modal-body">
                <!-- <div class="m-portlet"> -->

                <video id="remoteVideo" class="video-show" [src]="interview.videoPath" autoplay controls></video>
                <!-- <video id="remoteVideo" src="interview.videoPath" autoplay controls></video>  -->
                <!-- <div class="m-portlet__body">
                                    <video id="remoteVideo" width="480px" height="360px" autoplay></video>
                            </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>

<!-- take interview -->

<div class="modal fade" id="m_modal_1_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-custom">
            <div class="modal-header header-co">
                <h5 class="header-ap" id="exampleModalLabel">
                    Take Interview
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form m-form--fit m-form--label-align-right" #invitecandidate="ngForm" name="invitecandidate" novalidate>
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label>Job:</label>
                                <fieldset class="form-group">
                                    <ng-select [(ngModel)]="interview.jobID" bindLabel="jobtitle" bindValue="_id"
                                        name="jobID" #jobID="ngModel" class="bootstrap" placeholder="Select Job"
                                        [items]="jobList" aria-required="true">
                                    </ng-select>
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <label for="candidatename:">Candidate Name:</label>
                                <fieldset class="form-group">
                                    <ng-select [items]="candidatelist" class="bootstrap" bindLabel="fname"
                                        bindValue="email" [multiple]="true" placeholder="Select Candidate Name"
                                        name="emails" #emails="ngModel" [(ngModel)]="interview.emails"
                                        aria-required="true">
                                    </ng-select>
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label for="date">Expiry Date:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="m_datepicker_1"
                                        [(ngModel)]="interview.expdate" name="expdate" #expdate="ngModel"
                                        placeholder="Expiration date" required />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar-check-o"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="relevantexperience:">Relevant Experience:</label>
                                <input type="number" class="form-control m-input" name="relevantexperience"
                                    [(ngModel)]="interview.relevantexperience" #relevantexperience="ngModel"
                                    name="questionduration" placeholder="Relevant Experience" required>
                                <div class="form-control-feedback"
                                    *ngIf="relevantexperience?.errors && (relevantexperience.touched || invitecandidate.submitted)">
                                    Relevant Experience is required</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-accent" [disabled]="!invitecandidate.form.valid"  data-dismiss="modal" (click)="addMultipleInterviews()">
                    Send Invite
                </button>
            </div>
        </div>
    </div>
</div>

<!-- add new candidate -->

<div class="modal fade" id="m_modal_1_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-custom">
            <div class="modal-header header-co">
                <h5 class="header-ap" id="exampleModalLabel">
                    Invite New Candidate
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form m-form--fit m-form--label-align-right" #interviewinviteForm="ngForm"
                    name="interviewinviteForm" novalidate>
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label>Job:</label>
                                <fieldset class="form-group">
                                    <ng-select [(ngModel)]="interview.jobID" bindLabel="jobtitle" bindValue="_id"
                                        name="jobID" #jobID="ngModel" class="bootstrap" placeholder="Select Job"
                                        [items]="jobList" aria-required="true">
                                    </ng-select>
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <label for="candidatename:">Candidate Name:</label>
                                <input type="text" class="form-control m-input" name="candidatename"
                                    [(ngModel)]="interview.candidatename" #candidatename="ngModel" name="candidatename"
                                    placeholder="Candidate Name" required>
                                <div class="form-control-feedback"
                                    *ngIf="candidatename?.errors && (candidatename.touched || interviewinviteForm.submitted)">
                                    Candidate name is required</div>
                            </div>
                        </div>


                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label for="email">Candidate Email:</label>
                                <input type="email" class="form-control" [(ngModel)]="interview.email" name="email"
                                    #email="ngModel" placeholder="john@doe.com"
                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                                <div class="form-control-feedback"
                                    *ngIf="email.errors && (email.valid || email.dirty || email.touched || interviewinviteForm.submitted)">
                                    Email is required</div>
                            </div>
                            <div class="col-lg-6">
                                <label for="date">Expiry Date:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="m_datepicker_1"
                                        [(ngModel)]="interview.expdate" name="expdate" #expdate="ngModel"
                                        placeholder="Expiration date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar-check-o"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label for="relevantexperience:">Relevant Experience:</label>
                                <input type="number" class="form-control m-input" name="relevantexperience"
                                    [(ngModel)]="interview.relevantexperience" #relevantexperience="ngModel"
                                    name="questionduration" placeholder="Relevant Experience" required>
                                <div class="form-control-feedback"
                                    *ngIf="relevantexperience?.errors && (relevantexperience.touched || interviewinviteForm.submitted)">
                                    Relevant Experience is required</div>
                            </div>
                            <div class="col-lg-6">
                                <label for="lastcompany">Last Company:</label>
                                <input type="text" class="form-control m-input" name="lastcompany"
                                    [(ngModel)]="interview.lastcompany" #lastcompany="ngModel" name="lastcompany"
                                    placeholder="Last Company" required>
                                <div class="form-control-feedback"
                                    *ngIf="lastcompany?.errors && (lastcompany.touched || interviewinviteForm.submitted)">
                                    Last Company is required</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-accent" data-dismiss="modal"
                    [disabled]="!interviewinviteForm.form.valid" *ngIf="!formFlag" (click)="addNewInterview()">
                    Send Invite
                </button>
            </div>
        </div>
    </div>
</div>

<!-- add new job -->

<div class="modal fade" id="m_modal_1_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header header-co">
                <h5 class="header-ap" id="exampleModalLabel">
                    Create New Job
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form m-form--fit m-form--label-align-right" #createJob="ngForm" name="createJob"
                    novalidate>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-3">
                            <label for="jobtitle">
                                Job Title:
                            </label>
                            <input type="text" class="form-control m-input" name="jobtitle" [(ngModel)]="job.jobtitle"
                                #jobtitle="ngModel" aria-describedby="jobtitle" placeholder="Job Title" required>
                            <div class="form-control-feedback"
                                *ngIf="jobtitle?.errors && (jobtitle.touched || createJob.submitted)">
                                Job Title is required</div>
                        </div>
                        <div class="col-lg-3">
                            <label for="responsibilities">Responsibilities:</label>
                            <input type="text" class="form-control m-input" placeholder="Responsibilities"
                                aria-describedby="responsibilities" [(ngModel)]="job.responsibilities"
                                #responsibilities="ngModel" name="responsibilities" required>
                            <div class="form-control-feedback"
                                *ngIf="Responsibilities?.errors && (Responsibilities.touched || createJob.submitted)">
                                Responsibilities is required</div>
                        </div>
                        <div class="col-lg-3">
                            <label for="department">
                                Department
                            </label>
                            <select class="form-control m-input" id="department" name="department"
                                [(ngModel)]="job.department" placeholder="Department" #department="ngModel"
                                aria-describedby="department">
                                <option [ngValue]="undefined">Select Department:</option>
                                <option *ngFor="let dept of departments" [value]="dept">{{dept}}
                                </option>

                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label class="">Expiry Date:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="m_datepicker_1" [(ngModel)]="job.expdate"
                                    name="expdate" #expdate="ngModel" placeholder="Expiration date" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-4">
                            <label for="location">
                                Location:
                            </label>
                            <input type="text" class="form-control m-input" id="location" aria-describedby="location"
                                placeholder="Location" [(ngModel)]="job.location" #location="ngModel" name="location"
                                required>
                            <div class="form-control-feedback"
                                *ngIf="location?.errors && (location.touched || createJob.submitted)">
                                Location is required</div>
                        </div>
                        <div class="col-lg-4">
                            <label for="jobdesc">
                                Job Description:
                            </label>
                            <textarea id="textarea-input" type="text" class="form-control m-input" id="jobdesc"
                                aria-describedby="jobdesc" placeholder="Job Description" [(ngModel)]="job.jobdesc"
                                #jobdesc="ngModel" name="jobdesc" required></textarea>
                            <div class="form-control-feedback"
                                *ngIf="jobdesc?.errors && (jobdesc.touched || createJob.submitted)">
                                Job Description</div>
                        </div>
                        <div class="col-lg-4">
                            <label for="notes">
                                Notes For Recruiter:
                            </label>
                            <textarea id="textarea-input" type="text" class="form-control m-input" id="notes"
                                aria-describedby="notes" placeholder="Notes For Recruiter" [(ngModel)]="job.notes"
                                #notes="ngModel" name="notes" required></textarea>
                            <div class="form-control-feedback"
                                *ngIf="notes?.errors && (notes.touched || createJob.submitted)">
                                Notes For Recruiter</div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">

                        <div class="col-lg-4">
                            <label for="postdetails">
                                Post Details:
                            </label>
                            <textarea id="textarea-input" type="text" class="form-control m-input" id="postdetails"
                                aria-describedby="postdetails" placeholder="Post Details" [(ngModel)]="job.postdetails"
                                #postdetails="ngModel" name="postdetails" required></textarea>
                            <div class="form-control-feedback"
                                *ngIf="postdetails?.errors && (postdetails.touched || createJob.submitted)">
                                Post Details is required</div>
                        </div>
                        <div class="col-lg-4">
                            <label for="postbrief">
                                Post Brief:
                            </label>
                            <textarea id="textarea-input" type="text" class="form-control m-input" id="postbrief"
                                aria-describedby="postbrief" placeholder="Post Brief" [(ngModel)]="job.postbrief"
                                #postbrief="ngModel" name="postbrief" required> </textarea>
                            <div class="form-control-feedback"
                                *ngIf="postbrief?.errors && (postbrief.touched || createJob.submitted)">
                                Post Brief is required</div>
                        </div>
                        <div class="col-lg-4">
                            <label for="disclaimer">
                                Disclaimer:
                            </label>
                            <textarea id="textarea-input" type="text" class="form-control m-input" id="disclaimer"
                                aria-describedby="disclaimer" placeholder="Disclaimer" [(ngModel)]="job.disclaimer"
                                #disclaimer="ngModel" name="disclaimer" required></textarea>
                            <div class="form-control-feedback"
                                *ngIf="disclaimer?.errors && (disclaimer.touched || createJob.submitted)">
                                Disclaimer is required</div>
                        </div>
                    </div>
                </form>
                <div class="card-body">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-8">
                            <ng-select [items]="questionlist" class="bootstrap" bindLabel="question"
                                bindValue="question" [multiple]="true" (add)="onAdd($event)" (remove)="onRemove($event)"
                                placeholder="Select Questions" name="questions" #questions="ngModel"
                                [(ngModel)]="job.questions">
                            </ng-select>
                        </div>
                        <div class="col-lg-4 bt-30">
                            <button type="button" data-toggle="modal" data-target="#m_modal_1_2" class="btn btn-accent"
                                (click)="copyMessage(job.questions);getAllquestion();" value="click to copy">
                                Copy Question from job
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-accent" [disabled]="!createJob.form.valid" (click)="addNewJob()"
                    data-dismiss="modal">
                    Add Job
                </button>
            </div>
        </div>
    </div>
</div>

<!-- copy job -->

<div class="modal fade" id="m_modal_1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-custom">
            <div class="modal-header header-co">
                <h5 class="header-ap" id="exampleModalLabel">
                    Job Title
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-6">
                    <label>Job:</label>
                    <fieldset class="form-group">
                        <ng-select [(ngModel)]="interview.jobID" bindLabel="jobtitle" bindValue="jobID" name="jobID"
                            #jobID="ngModel" class="bootstrap" placeholder="Select Job" [items]="jobList"
                            aria-required="true">
                        </ng-select>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
                <button type="button" (click)="jobSelected(interview)" data-dismiss="modal" class="btn btn-accent">
                    Select
                </button>
            </div>
        </div>
    </div>
</div>

<!-- add new question -->

<div class="modal fade" id="m_modal_1_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-custom">
            <div class="modal-header header-co">
                <h5 class="header-ap" id="exampleModalLabel">
                    Create Question
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form m-form--fit m-form--label-align-right" #managequestionForm="ngForm"
                    name="managequestionForm" novalidate>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-4">
                            <label for="department">Department:</label>
                            <select name="department" id="department" [(ngModel)]="questionObj.department"
                                placeholder="Department" #department="ngModel" class="form-control m-input">
                                <option [ngValue]="undefined">Select Department</option>
                                <option *ngFor="let dept of departments" [value]="dept">{{dept}}</option>
                            </select>

                        </div>
                        <div class="col-lg-4">
                            <label for="job">Job:</label>
                            <fieldset class="form-group">
                                <!-- <ng-select [(ngModel)]="questionObj.jobID" bindLabel="jobtitle" bindValue="jobID"
                                        name="jobID" #jobID="ngModel" class="bootstrap" placeholder="Select Job"
                                        [items]="jobList" aria-required="true">
                                    </ng-select> -->
                                <ng-select [(ngModel)]="questionObj.jobID" bindLabel="jobtitle" bindValue="_id"
                                    name="jobID" #jobID="ngModel" class="bootstrap" placeholder="Select Job"
                                    [items]="jobList" aria-required="true">
                                </ng-select>
                            </fieldset>
                        </div>
                        <div class="col-lg-4">
                            <label for="domain">
                                Question Domain:
                            </label>
                            <!-- <ng-select [(ngModel)]="questionObj.domain" name="domain" #domain="ngModel" class="bootstrap"
                                                            placeholder="Select Domain" [options]="dom" [allowClear]="true"></ng-select> -->
                            <select class="form-control m-input" [(ngModel)]="questionObj.domain" name="domain"
                                #domain="ngModel" placeholder="Domain" aria-describedby="domain">
                                <option [ngValue]="undefined">Select Domain</option>
                                <option *ngFor="let domain of domains" [value]="domain">{{domain}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <label for="question">Question:</label>
                            <!-- <input type="text" class="form-control m-input" name="question" [(ngModel)]="questionObj.question" #question="ngModel" name="question" placeholder="Question" minlength="255" maxlength="255" required> -->
                            <textarea id="textarea-input" type="text" class="form-control m-input" id="question"
                                aria-describedby="question" placeholder="Question" [(ngModel)]="questionObj.question"
                                #question="ngModel" name="question" minlength="1" maxlength="255" required></textarea>
                            <div class="form-control-feedback"
                                *ngIf="question?.errors && (question.touched || managequestionForm.submitted)">
                                Question is required</div>
                            <div class="form-control-feedback" [hidden]="!question.hasError('minlength')">Question
                                should be 255 character only</div>
                        </div>
                        <div class="col-lg-6">
                            <label for="questionduration">Question Duration:</label>
                            <input type="number" class="form-control m-input" name="questionduration"
                                [(ngModel)]="questionObj.questionduration" #questionduration="ngModel"
                                name="questionduration" placeholder="Question Duration" required>
                            <div class="form-control-feedback"
                                *ngIf="questionduration?.errors && (questionduration.touched || managequestionForm.submitted)">
                                Question duration is required</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-accent" [disabled]="!managequestionForm.form.valid"
                    data-dismiss="modal" (click)="createQuestion(questionObj)">
                    Add Question
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $('m_modal_5').modal({
        backdrop: 'static',
        keyboard: false
    })
</script>

<script>
    $('m_modal_1_5').modal({
        backdrop: 'static',
        keyboard: false
    })
</script>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>