#eventForm {
    max-width: 600px;
}

#eventForm .k-datetime-picker-wrapper .k-widget {
    display: inline-block;
    width: 150px;
    margin-right: 15px;
}

.main-card {
    border: 0.1px solid #999;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 5px 5px #999;
}

.main-card>span {
    font-size: 16px;
    font-weight: bold;
}

#eventForm .k-edit-label {
    width: 17%;
}

#eventForm .k-edit-field {
    width: 77%;
}
