

<div class='search_container'>
    <!-- Search box-->
    <input type='text' id='speechText' > &nbsp; <input type='button' id='start' value='Start' onclick='startRecording();'>
</div>

<!-- Search Result -->
<div class="container"></div>
