<ng4-loading-spinner> </ng4-loading-spinner>

<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Interview Invites
            </h3>
        </div>
    </div>
</div>


<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head header-co custom-inte">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title custom-inte">
                        <span class="m-portlet__head-icon">
                            <i class="flaticon-exclamation-2"></i>
                        </span>
                        <h3 class="header-ap">
                            Interview Invites
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a data-toggle="modal" (click)="openInterviewModal()" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-show-hide" data-target="#m_modal_4" *ngIf="userType == 0 || userType == 1 || userType == 2">
                                <span>
                                    <i class="flaticon-user"></i>
                                    <span>Invite Candidate</span>
                                </span>
                            </a>
                            <a data-toggle="modal" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-show-hide-mb custom-inte-btn" data-target="#m_modal_4">
                                <span>
                                    <i class="flaticon-user"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="card-body">
                <div class="row mb-3">
                </div>
                <div *ngIf="interviewFlag">
                    <div class="col-md-4 offset-md-8">
                        <div class="input-group" style="margin-bottom: 10px;">
                            <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                        <i class="fa fa-search"></i>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <table id="table-bgc" class="table" [mfData]="interviews | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="5">
                                <thead>
                                    <tr>
                                        <th>
                                            <mfDefaultSorter by="candidatename">Candidate Name</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="email">Candidate Email</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="job">Job Title</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="status">Status</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="videoPath">Video</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="createdDateTime">Created DateTime</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="">Action</mfDefaultSorter>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let interview of mf.data">
                                        <td>{{interview.candidatename}}</td>
                                        <td>{{interview.email}}</td>
                                        <td>{{interview.jobName}}</td>
                                        <td *ngIf="interview.isActive == 'p'">
                                            Pending
                                        </td>
                                        <td *ngIf="interview.isActive == 'c'">
                                            Completed
                                        </td>
                                        <td *ngIf="interview.isActive == 'i'">
                                            In-Progress
                                        </td>
                                        <td>
                                            <a data-toggle="modal" data-target="#m_modal_5" *ngIf="interview.videoPath != null" data-backdrop="static" data-keyboard="false" href="#" (click)="showLive(interview)">Click here</a>
                                        </td>
                                        <td>{{interview.createdDateTime | date:'dd-MM-yyyy, h:mm a'}}</td>
                                        <td>
                                            <button class="btn btn-danger btn-sm" data-toggle="m-tooltip" title="Delete Interview" style="margin-bottom: 4px" type="button" (click)="deleteInterview(interview)">
                                            <i class="fa fa-close"></i>
                                        </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="8">
                                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="kanbanFlag">
                <div class="table-responsive">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                           Kanban Board
                        </h3>
                    </div>
                </div>
                <daypilot-kanban [config]="config" #kanban></daypilot-kanban>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header header-co">
                <h5 class="header-ap" id="exampleModalLabel" (click)="openInterviewModal()">
                    Invite Candidate
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                    <ul class="nav nav-pills nav-fill btn-accent" role="tablist">
                        <li class="nav-item btn-accent">
                            <a class="nav-link active btn-accent" data-toggle="tab" href="#m_tabs_5_1">
                                Take Interview
                            </a>
                        </li>
                        <li class="nav-item btn-accent">
                            <a class="nav-link btn-accent" data-toggle="tab" href="#m_tabs_5_2">
                                Add New Candidate
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_tabs_5_1" role="tabpanel">
                            <div class="modal-body">
                                <form class="m-form m-form--fit m-form--label-align-right" #invitecandidate="ngForm" name="invitecandidate" novalidate>
                                    <div class="m-portlet__body">
                                        <div class="form-group m-form__group row">
                                            <div class="col-lg-6">
                                                <label>Job:</label>
                                                <fieldset class="form-group">
                                                    <ng-select [(ngModel)]="interview.jobID" bindLabel="jobtitle" bindValue="_id" name="jobID" #jobID="ngModel" class="bootstrap" placeholder="Select Job" [items]="joblist">
                                                    </ng-select>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="candidatename:">Candidate Name:</label>
                                                <fieldset class="form-group">
                                                    <ng-select [items]="candidatelist" class="bootstrap" bindLabel="fname" bindValue="email" [multiple]="true" placeholder="Select Candidate Name" name="emails" #emails="ngModel" [(ngModel)]="interview.emails">
                                                    </ng-select>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <div class="col-lg-6">
                                                <label for="date">Expiry Date:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="m_datepicker_1" [(ngModel)]="interview.expdate" name="expdate" #expdate="ngModel" placeholder="Expiration date" />
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="la la-calendar-check-o"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="relevantexperience:">Relevant Experience:</label>
                                                <input type="number" class="form-control m-input" name="relevantexperience" [(ngModel)]="interview.relevantexperience" #relevantexperience="ngModel" name="questionduration" placeholder="Relevant Experience" required>
                                                <div class="form-control-feedback" *ngIf="relevantexperience?.errors && (relevantexperience.touched || invitecandidate.submitted)">
                                                    Relevant Experience is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="reset" class="btn btn-danger" data-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-accent" data-dismiss="modal"  [disabled]="!invitecandidate.form.valid"  *ngIf="!formFlag">
                                            Send Invite
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane" id="m_tabs_5_2" role="tabpanel">
                            <div class="modal-body">
                                <form class="m-form m-form--fit m-form--label-align-right" #interviewinviteForm="ngForm" name="interviewinviteForm" novalidate>
                                    <div class="m-portlet__body">
                                        <div class="form-group m-form__group row">
                                            <div class="col-lg-6">
                                                <label>Job:</label>
                                                <fieldset class="form-group">
                                                    <ng-select [(ngModel)]="interview.jobID" bindLabel="jobtitle" bindValue="_id" name="jobID" #jobID="ngModel" class="bootstrap" placeholder="Select Job" [items]="joblist"></ng-select>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="candidatename:">Candidate Name:</label>
                                                <input type="text" class="form-control m-input" name="candidatename" [(ngModel)]="interview.candidatename" #candidatename="ngModel" name="candidatename" placeholder="Candidate Name" required>
                                                <div class="form-control-feedback" *ngIf="candidatename?.errors && (candidatename.touched || interviewinviteForm.submitted)">
                                                    Candidate name is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <div class="col-lg-6">
                                                <label for="email">Candidate Email:</label>
                                                <input type="email" class="form-control" [(ngModel)]="interview.email" name="email" #email="ngModel" placeholder="john@doe.com" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                                                <div class="form-control-feedback" *ngIf="email.errors && (email.valid || email.dirty || email.touched || interviewinviteForm.submitted)">
                                                    Email is required</div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="date">Expiry Date:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="m_datepicker_1" [(ngModel)]="interview.expdate" name="expdate" #expdate="ngModel" placeholder="Expiration date" />
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="la la-calendar-check-o"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <div class="col-lg-6">
                                                <label for="relevantexperience:">Relevant Experience:</label>
                                                <input type="number" class="form-control m-input" name="relevantexperience" [(ngModel)]="interview.relevantexperience" #relevantexperience="ngModel" name="questionduration" placeholder="Relevant Experience" required>
                                                <div class="form-control-feedback" *ngIf="relevantexperience?.errors && (relevantexperience.touched || interviewinviteForm.submitted)">
                                                    Relevant Experience is required</div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="lastcompany">Last Company:</label>
                                                <input type="text" class="form-control m-input" name="lastcompany" [(ngModel)]="interview.lastcompany" #lastcompany="ngModel" name="lastcompany" placeholder="Last Company" required>
                                                <div class="form-control-feedback" *ngIf="lastcompany?.errors && (lastcompany.touched || interviewinviteForm.submitted)">
                                                    Last Company is required</div>
                                            </div>
                                        </div>
                                    <div class="form-group m-form__group row">
                                            <div class="col-lg-4">
                                                <label>Linkedin Profile:</label>
                                                <input type="text" class="form-control m-input" placeholder="Enter Link">
                                        </div>
                                            <div class="col-lg-4">
                                                <label>Twitter Profile:</label>
                                                <input type="text" class="form-control m-input" placeholder="Enter Link">
                                            </div>
                                            <div class="col-lg-4">
                                                <label>Skype Id:</label>
                                                <input type="text" class="form-control m-input" placeholder="Enter Skype Id">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="reset" class="btn btn-danger" data-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-accent" data-dismiss="modal" [disabled]="!interviewinviteForm.form.valid" *ngIf="!formFlag" (click)="addNewInterview()">
                                            Send Invite
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
             </div>          
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header header-co">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <video id="remoteVideo" class="video-show" [src]="interview.videoPath" autoplay controls></video>
            </div>
        </div>
    </div>
</div>

<script>
    $('m_modal_5').modal({
        backdrop: 'static',
        keyboard: false
    })
</script>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
