<div class="m-content">
    <div class="col-md-12">
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            User Profile
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form class="m-form m-form--fit m-form--label-align-right" #userForm="ngForm" name="updateUserForm" novalidate>

                <div class="m-portlet__body">

                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <label for="fname">First Name:</label>
                            <input type="text" class="form-control" [(ngModel)]="user.fname" #fname="ngModel" name="fname" placeholder="Enter First Name"
                                required>
                                <div class="form-control-feedback" *ngIf="fname?.errors && (fname.touched || userForm.submitted)">First Name is required</div>

                        </div>
                        <div class="col-lg-6">
                            <label for="lname">Last Name:</label>
                            <input type="text" class="form-control" [(ngModel)]="user.lname" #lname="ngModel" name="lname" placeholder="Enter Last Name"
                                required>
                                <div class="form-control-feedback" *ngIf="lname.errors && (lname.touched || userForm.submitted)">Last Name is required</div>

                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" name="title" placeholder="">
                            <p class="m-form__help"></p>

                        </div>
                        <div class="col-lg-6">
                            <label for="email">Email Id:</label>
                            <input type="email" class="form-control" [(ngModel)]="user.email" name="email" #email="ngModel" placeholder="john@doe.com"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                                <div class="form-control-feedback" *ngIf="email.errors && (email.valid || email.dirty || email.touched || userForm.submitted)"> Email is required</div>

                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <label for="address1">Address 1:</label>
                            <input type="text" class="form-control" [(ngModel)]="user.address1" name="address1" #address1="ngModel" placeholder="" required>
                            <div class="form-control-feedback" *ngIf="address1?.errors && (address1.touched || userForm.submitted)">Address is required</div>
                        </div>

                        <div class="col-lg-6">
                            <label for="address2">Address 2:</label>
                            <input type="m-form__help" class="form-control" [(ngModel)]="user.address2" name="address2" placeholder="">
                            <p></p>

                        </div>

                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <label for="phone">Phone Number</label>
                            <input type="text" class="form-control" [(ngModel)]="user.phone" name="phone" #phone="ngModel" placeholder="Enter Phone Number"
                            pattern="[0-9]*"  minlength="10" maxlength="10" required>
                                <div class="form-control-feedback" [hidden]="phone.valid || phone.pristine" *ngIf="phone?.errors && (phone.touched || userForm.submitted)"></div>
                                <div class="form-control-feedback" [hidden]="!phone.hasError('minlength')">Phone No  should be 10digit</div>
                                <div class="form-control-feedback" [hidden]="!phone.hasError('pattern')">Phone No  should be only numbers</div>
                        </div>
                        <div class="col-lg-6">
                            <label for="country">Country:</label>
                            <input type="text" class="form-control" [(ngModel)]="user.country" name="country" #country="ngModel" placeholder=" Enter Country"
                                required>
                            <div class="form-control-feedback" *ngIf="country?.errors && (country.touched || userForm.submitted)">Country is required</div>


                        </div>
                    </div>
                    <div class="form-group m-form__group row">

                        <div class="col-lg-6">
                            <label for="state">State:</label>
                            <input type="text" class="form-control" [(ngModel)]="user.state" name="state" #state="ngModel" placeholder="Enter State"
                                required>
                                <div class="form-control-feedback" *ngIf="state?.errors && (state.touched || userForm.submitted)">State is required</div>


                        </div>
                        <div class="col-lg-6">
                            <label for="city">City:</label>
                            <input type="text" class="form-control" [(ngModel)]="user.city" name="city" #city="ngModel" placeholder="Enter City" required>
                            <div class="form-control-feedback" *ngIf="city?.errors && (city.touched || userForm.submitted)">City is required</div>


                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <label for="postalcode">Postal Code:</label>
                            <input type="text" class="form-control" [(ngModel)]="user.postalcode" name="postalcode" #postalcode="ngModel" placeholder=" Enter Postal code" pattern='/^(\d{6}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/'>
                            <div class="form-control-feedback" *ngIf="postalcode.valid && (postalcode.dirty || postalcode.touched || userForm.submitted)"> Postal code is required</div>

                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <button type="button" class="btn btn-primary"  (click)="updateUser()">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-secondary">
                            Cancel
                        </button>
                    </div>
                </div>


            </form>
            <!--end::Form-->
        </div>
    </div>
</div>