/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
@media only screen and (max-width:767px) {
    .table-responsive {
        display: block;
    }
    .bt-30 {
        margin-bottom: 30px;
    }
    
}


/*------- Modal Window Starts -------*/

.modal-window {
    background-color: #000000a7;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.first-modal-window,
.first-modal-service,
.second-modal-service,
.third-modal-service,
.four-modal-service {
    display: none;
}

.modal-content-body {
    height: 400px;
    overflow-y: auto;
}

.modal-box {
    background-color: #fff;
    border-radius: 4px;
    margin: 0 auto;
    max-width: 900px;
    padding: 15px;
    width: 100%;
}

.modal-box:after {
    background-color: #0cb8b6;
    border-radius: 4px 4px 0px 50px;
    content: "";
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}

.modal-heading {
    color: #1d2d38;
    font: 2.4rem/1.42857143 "TitilliumWeb-Regular";
    margin-bottom: 15px;
}

.modal-content-body>p {
    color: #1d2d38;
    font: 1.8rem/1.42857143 "TitilliumWeb-Regular";
    margin-bottom: 15px;
}

.lab-info>li {
    color: #1d2d38;
    font: 1.8rem/1.42857143 "TitilliumWeb-Regular";
    margin-bottom: 7px;
}

.lab-info>li:last-child {
    margin-bottom: 0;
}

.features-softlab {
    color: #1d2d38;
    font: 2.4rem/1.42857143 "TitilliumWeb-SemiBold";
    margin-bottom: 15px;
}

.transform-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-window {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-100%, 50%);
    z-index: 1;
}

.close-window i {
    color: #fff;
    font-size: 1.6rem;
}


/*------- Modal Window Ends -------*/

.video-show {
    width: 100%;
}

.m-dash-data {
    border-radius: 50%;
    background: #73AD21;
    padding: 20px;
    width: 50px;
    height: 50px;
}

.brand-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid #d1d4d7;
    border-radius: 0.25rem;
}

.brand-card-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    border-radius: 0.25rem 0.25rem 0 0;
}

.brand-card-body {
    display: flex;
    flex-direction: row;
    padding: 0.75rem 0;
    text-align: center;
}

.text-value {
    font-size: 1.31rem;
    font-weight: 600;
}

.text-muted {
    color: #fff !important;
}

.bg-fac {
    background-color: #1d2d38;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}

.div {
    display: block;
}

.icon-dash {
    margin-right: 10px;
    color: #000;
    font-size: 22px;
}

.brand-card-body>*:not(:last-child) {
    border-right: 1px solid #000;
}

.brand-card-body>* {
    flex: 1;
    padding: 0.1875rem 0;
}

* {
    box-sizing: border-box;
}

.text-uppercase {
    text-transform: uppercase;
}

.small {
    font-size: 50%;
    font-weight: 600;
}

.main_stint {
    width: 600px;
}

.custom-label {
    font-size: 1.2rem;
    font-weight: bold;
    
    float:right;
}
// .custom-card{
//     background-color: #afafaf !important;
// }

// .bot-height { height:70%;}
.stint {
    margin-top: 10%;
}

.btn-show-hide-mb {
    display: none;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-text:hover {
    color: #fff !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
    color: #fff
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text:hover {
    color: #fff !important;
}

// .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text:focus { color: #fff}
// .m-menu__nav >.m-menu__item >.m-menu__link .m-menu__link-text:hover { color: #fff;}
// span > .m-menu__link-text:hover { color: #fff; }
@media only screen and (min-width: 1199px) {}

@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 320px) and (max-width: 768px) {
    .btn-cand{
        margin-top:10px;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    html,
    body {
        font-size: 13px;
    }
}

@media (max-width: 668px) {
    .custom-label {
        font-size: 1rem;
        font-weight: bold;
    }
    .main_stint {
        width: 350px;
    }
    .btn-show-hide {
        display: none;
    }
    .btn-show-hide-mb {
        display: block;
        position: relative;
        margin-left: -40px;
        margin-top: 5px
    }
}

@media (max-width: 992px) {
    html,
    body {
        font-size: 13px;
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 710px;
    width: 100%;
    text-align: center;
    padding: 0px 15px;
    line-height: 1.4;
}

.notfound .notfound-404 {
    height: 200px;
    line-height: 200px;
}

.notfound .notfound-404 h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 168px;
    margin: 0px;
    color: #ff508e;
    text-transform: uppercase;
}

.notfound h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #222;
    margin: 0;
}

.notfound-search {
    position: relative;
    padding-right: 123px;
    max-width: 420px;
    width: 100%;
    margin: 30px auto 22px;
}

.notfound-search input {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 40px;
    padding: 3px 15px;
    color: #222;
    font-size: 18px;
    background: #f8fafb;
    border: 1px solid rgba(34, 34, 34, 0.2);
    border-radius: 3px;
}

.notfound-search button {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 120px;
    height: 40px;
    text-align: center;
    border: none;
    background: #ff508e;
    cursor: pointer;
    padding: 0;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 3px;
}

.notfound a {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-weight: 700;
    border-radius: 15px;
    text-decoration: none;
    color: #39b1cb;
}

.notfound a>.arrow {
    position: relative;
    top: -2px;
    border: solid #39b1cb;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 122px;
        line-height: 122px;
    }
    .notfound .notfound-404 h1 {
        font-size: 122px;
    }
}

p {
    font-family: Poppins;
}

.bg-fac-interview {
    background-color: #0171BA;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}

.bt-line {
    border-bottom: 1px solid #000;
}

.bg-fac-jobs {
    background-color: #10A450;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}

.bg-fac-candidate {
    background-color: #F96A4C;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}

.kt-radio {
    margin-left: 10px;
}

