<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Client Management
            </h3>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head header-co">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="flaticon-menu-1"></i>
                        </span>
                        <h3 class="header-ap">
                            Manage Client
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">

                            <a data-toggle="modal" data-target="#m_modal_4"
                                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-show-hide"
                                (click)="addNewClientModal();formFlag = false;">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>Create New Client</span>
                                </span>
                            </a>
                            <a data-toggle="modal" data-target="#m_modal_4"
                                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-show-hide-mb"
                                (click)="addNewClientModal();formFlag = false;">
                                <span>
                                    <i class="la la-plus"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-4 offset-md-8">
                        <div class="input-group">
                            <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search by First Name"
                                type="text">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table id="table-bgc" class="table" [mfData]="clients | dataFilter : filterQuery"
                            #mf="mfDataTable" [mfRowsOnPage]="5">
                            <thead>
                                <tr>
                                    <th>
                                        <mfDefaultSorter by="fname">First Name</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="lname">Last Name</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="email">Email</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="">Action</mfDefaultSorter>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let client of mf.data">
                                    <td>{{client.fname}}</td>
                                    <td>{{client.lname}}</td>
                                    <td>{{client.email}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" data-toggle="m-tooltip"
                                            title="Edit Client" style="margin-bottom: 4px" type="button"
                                            data-toggle="modal" data-target="#m_modal_4"
                                            (click)="openClientModal(client); formFlag = true;">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" data-toggle="m-tooltip"
                                            title="Delete Client" style="margin-bottom: 4px" type="button"
                                            (click)="deleteClient(client)">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header header-co">
                <h5 class="header-ap" id="exampleModalLabel">
                    Client Profile
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form m-form--fit m-form--label-align-right" #clientForm="ngForm" name="clientForm"
                    novalidate>
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="fname">First Name:</label>
                                <input type="text" class="form-control" [(ngModel)]="client.fname" name="fname"
                                    #fname="ngModel" placeholder="Enter first name" required>
                                <!-- <p class="m-form__help" *ngIf="fname.errors && (fname.touched || clientForm.submitted)">First Name is required</p>                   -->
                                <div class="form-control-feedback"
                                    *ngIf="fname?.errors && (fname.touched || clientForm.submitted)">First Name is
                                    required</div>
                            </div>
                            <div class="col-lg-4">
                                <label for="lname">Last Name:</label>
                                <input type="text" class="form-control" [(ngModel)]="client.lname" name="lname"
                                    #lname="ngModel" placeholder="Enter last name" required>
                                <!-- <p class="m-form__help" *ngIf="lname.errors && (lname.touched || clientForm.submitted)">Last Name is required</p>                   -->
                                <div class="form-control-feedback"
                                    *ngIf="lname?.errors && (lname.touched || clientForm.submitted)">Last Name is
                                    required</div>
                            </div>
                            <div class="col-lg-4">
                                <label for="companyId">Company Id:</label>
                                <input type="text" class="form-control" [(ngModel)]="client.companyId" name="companyId"
                                    #companyId="ngModel" readonly>
                                <!-- <p class="m-form__help" *ngIf="lname.errors && (lname.touched || clientForm.submitted)">Last Name is required</p>                   -->
                                <!-- <div class="form-control-feedback" *ngIf="lname?.errors && (lname.touched || clientForm.submitted)">Last Name is required</div> -->
                            </div>
                        </div>
                        <div class="form-group m-form__group row">

                            <div class="col-lg-4">
                                <label for="userID">User Name:</label>
                                <input type="text" class="form-control" [(ngModel)]="client.userID" name="userID"
                                    #userID="ngModel" placeholder="Enter User name" required>
                                <div class="form-control-feedback"
                                    *ngIf="userID?.errors && (userID.touched || clientForm.submitted)">User Name is
                                    required</div>
                            </div>
                            <!-- <div class="col-lg-4" >
                                                <label for="userType ">User Type:</label>
                                                <select id="userType" name="usertype" [(ngModel)]="client.userType" #userType="ngModel" class="form-control m-input" required>
                                                    <option [ngValue]="undefined">Select User type</option>
                                                    <option *ngFor="let usertype of usertypes" [value]="usertype.value">{{usertype.name}}</option>
                                                </select>
                                            </div> -->
                            <div class="col-lg-4">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" [(ngModel)]="client.email" name="email"
                                    #email="ngModel" placeholder="Enter email"
                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                                <div class="form-control-feedback"
                                    *ngIf="email.errors && (email.valid || email.dirty || email.touched || clientForm.submitted)">
                                    Email is required and format should be
                                    <i>john@doe.com</i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="companyname">Company:</label>
                                <input type="text" class="form-control" [(ngModel)]="client.companyname"
                                    name="companyname" #companyname="ngModel" placeholder="Enter Company name">
                            </div>

                        </div>
                        <div class="form-group m-form__group row" *ngIf="client._id == null">
                            <div class="col-lg-4">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" [(ngModel)]="client.password"
                                    name="password" #password="ngModel" placeholder="Enter password"
                                    (change)="confirmPassword.control.updateValueAndValidity()" required>
                                <div class="form-control-feedback"
                                    *ngIf="password.errors && (password.touched || password.dirty && clientForm.submitted)">
                                    Password is required</div>

                            </div>
                            <div class="col-lg-4">
                                <label for="rpassword">Repeat Password:</label>
                                <input type="password" class="form-control" [(ngModel)]="client.confirmPassword"
                                    name="confirmPassword" #confirmPassword="ngModel"
                                    placeholder="Enter Repeat password" validateEqual="password" required>
                                <span class="form-control-feedback"
                                    *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty && confirmPassword.errors?.required && clientForm.submitted)">Password
                                    is required.</span>
                                <span class="form-control-feedback"
                                    *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required)">Password
                                    is not match.</span>
                            </div>
                            <div class="col-lg-4">
                                <label for="phone">Phone Number:</label>
                                <input type="text" class="form-control" [(ngModel)]="client.phone" name="phone"
                                    #phone="ngModel" placeholder="Enter Phone Number" pattern="[0-9]*" minlength="10"
                                    maxlength="10" required>
                                <div class="form-control-feedback" [hidden]="phone.valid || phone.pristine"
                                    *ngIf="phone?.errors && (phone.touched || clientForm.submitted)">Phone No is
                                    required</div>
                                <div class="form-control-feedback" [hidden]="!phone.hasError('minlength')">Phone No
                                    should be 10digit</div>
                                <div class="form-control-feedback" [hidden]="!phone.hasError('pattern')">Phone No should
                                    be only numbers</div>
                            </div>

                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="zip">Zip Code:</label>
                                <input type="number" class="form-control" (keypress)="keyPress($event)" minlength=6
                                    maxlength=8 [(ngModel)]="client.zip" name="zip" #zip="ngModel"
                                    placeholder=" Enter zip code">
                            </div>
                            <div class="col-lg-4">
                                <label for="email">Address:</label>
                                <input type="text" class="form-control" [(ngModel)]="client.address" name="address"
                                    #address="ngModel" placeholder="Enter address">
                            </div>
                            <div class="col-lg-4">
                                <label for="postal-code">City:</label>
                                <input type="text" class="form-control" [(ngModel)]="client.city" name="city"
                                    #city="ngModel" placeholder="Enter city">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label>Upload Image:</label>
                                <br>
                                <input type="file" (change)="upload($event.target.files, client)" /> Upload Percent:
                                {{percentDone}}% <br />
                                <br>
                            </div>
                            <div class="col-lg-4">
                                <label for="postal-code">Website:</label>
                                <input type="text" class="form-control" [(ngModel)]="client.website" name="website"
                                    #website="ngModel" placeholder="Enter website">
                            </div>

                            <div class="col-lg-4">
                                <label for="postal-code">Fax:</label>
                                <input type="text" class="form-control" [(ngModel)]="client.fax" name="fax"
                                    #fax="ngModel" placeholder="Enter fax">
                            </div>

                        </div>
                        <!-- <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label>Email Template:</label>
                                <fieldset class="form-group">
                                    <ng-select [(ngModel)]="client.emailtempID" bindLabel="jobtitle" bindValue="_id" name="emailtempID" #jobID="ngModel" class="bootstrap" placeholder="Select Job" [items]="joblist" aria-required="true">
                                    </ng-select>
                                </fieldset>
                            </div>  
                        </div> -->
                        <!--/.row-->

                    </div>
                </form>
                <!--/.col-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-accent" data-dismiss="modal" [disabled]="!clientForm.form.valid"
                    *ngIf="!formFlag" (click)="addNewClient();">
                    Submit
                </button>
                <button type="button" class="btn btn-accent" *ngIf="formFlag" data-dismiss="modal"
                    (click)="updateClient();successModal.hide()">Update</button>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>