<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Email Template
            </h3>
        </div>
    </div>
</div>


<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head header-co">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="flaticon-suitcase"></i>
                        </span>
                        <h3 class="header-ap">
                            Email Template
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">

                            <a data-toggle="modal" data-target="#m_modal_4" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-show-hide" (click)="addemailtempModal();formFlag = false;">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>Create Email Template
                                    </span>
                                </span>
                            </a>
                            <a data-toggle="modal" data-target="#m_modal_4" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-show-hide-mb" (click)="addemailtempModal();formFlag = false;">
                                <span>
                                    <i class="la la-plus"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-4 offset-md-8">
                        <div class="input-group">
                            <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table id="table-bgc" class="table" [mfData]="emailtemps | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="5">
                            <thead>
                                <tr>
                                    <th>
                                        <mfDefaultSorter by="id">#</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="name">Template Name</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="status">Status</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="">Action</mfDefaultSorter>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let emailtemp of mf.data; let i= index">
                                    <td>{{i+1}}</td>
                                    <td>{{emailtemp.name}}</td>
                                    <td>{{emailtemp.status}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" style="margin-bottom: 4px"  type="button" data-toggle="modal" data-target="#m_modal_4" (click)="openEmailModal(emailtemp);formFlag = true;">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" style="margin-bottom: 4px" type="button" (click)="delete(emailtemp)">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header header-co">
                <h5 class="header-ap" id="exampleModalLabel">
                   Email Template
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form m-form--fit m-form--label-align-right" #manageemailForm="ngForm" name="manageemailForm" novalidate>
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                        <label for="cname">Client Name:</label>
                                        <ng-select [(ngModel)]="emailtemp.clientId" bindLabel="label" bindValue="value" name="clientId" #clientId="ngModel" class="bootstrap" placeholder="Select Client" [items]="clientData" aria-required="true">
                                            </ng-select>
                            </div>
                            <div class="col-lg-6">
                                <label for="name">Template Name:</label>
                                <input type="text" class="form-control" [(ngModel)]="emailtemp.name" #name="ngModel" name="name" placeholder="Enter Template Name" required>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                                <div class="col-lg-12">
                                    <label for="message">Message:</label>
                                </div>
                                <ckeditor data="<p>Hello, world!</p>" ...></ckeditor>
                                    <!-- <ckeditor [editor]="Editor" [(ngModel)]="emailtemp.editorData" name="editorData"></ckeditor> -->
                        </div>
                    </div>
                </form>
            </div>      
            <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-accent" data-dismiss="modal" *ngIf="!formFlag" (click)="addEmailtemp()">
                       Send Email
                    </button>
                    <button type="button" class="btn btn-accent"  *ngIf="formFlag" data-dismiss="modal" (click)="updateEmailtemp()">Update</button>
            </div>
        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
